<div class="vs-background-color-light">
  <div class="row vs-margin-remove vs-display-flex">
    <div class="col col-xs-10 col-md-5 col-lg-5 vs-margin-center vs-margin-top-small">
      <div class="vs-section vs-input-field col-md-12 vs-background-color-white" *ngIf="!isEmailSent" >
        <h1 class="vs-section-title vs-color-black">
          Restablecer contraseña
        </h1>
        <p class="vs-color-grey">
          Te enviaremos un correo electrónico con un link de restablecimiento
        </p>
        <form autocomplete="off" [formGroup]="correo" class="vs-margin-top-small">
          <input formControlName="email" matInput placeholder="correo electrónico" class="vs-margin-bottom-xsmall">
          <span *ngIf="submitted && correo.controls['email'].errors?.required" class="invalid-feedback">
            Este campo es requerido.
          </span>
          <span *ngIf="submitted && correo.controls['email'].errors?.pattern" class="invalid-feedback">
            Introduce un correo valido.
          </span>
        </form>

        <button *ngIf="!isLoading; else spinner" class="vs-margin-top-xsmall vs-color-black vs-full-width vs-margin-top-small" (click)="sendEmail()" mat-flat-button color="primary">
          ENVIAR CORREO DE RESTABLECIMIENTO
        </button>

         <p class="vs-color-grey vs-margin-top-small">
            ¿Todo está bien?
            <a [routerLink]="['/acceder']" class="vs-color-vs vs-cursor-pointer">
              Accede aquí
            </a>
          </p>

        <ng-template #spinner>
          <mat-spinner class="vs-margin-center"></mat-spinner>
        </ng-template>

      <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
        {{serverErrorMessages}}
      </div>
    </div>

    <div *ngIf="isEmailSent"  class="vs-section vs-input-field col-md-12 vs-background-color-white">
      <h1 class="vs-section-title vs-color-black">
        ¡Mensaje enviado!
      </h1>
      <p class="vs-color-grey">
        Te hemos enviado un mensaje a {{this.correo.value.email}} para que puedas elegir tu nueva contraseña
      </p>

      <p class="vs-margin-top-small">
        <span class="vs-color-grey">
            ¿No es tu direccion de correo electronico?
        </span>
       <span class="vs-color-vs vs-cursor-pointer" (click)="tryAgain()"> Inténtalo de nuevo</span>
      </p>
    </div>

  </div>
</div>
</div>
