
<div *ngIf="router.url === '/home'; else second" class="vs-background-color-white footer">
  <div class="vs-container">
    <div class="row vs-text-align-center vs-text-align-left-md vs-padding-top-small vs-padding-bottom-small">
      <div class="col col-xs-12 col-md-4">
        <img class="main-logo" src="../../../../assets/img/main-logo.png" alt="">
        <div class="vs-margin-bottom-xsmall vs-margin-top-small vs-color-grey">
          Síguenos
        </div>
        <div class="vs-margin-top-xsmall">
					<a href="https://www.facebook.com/24.7LogisiticSolutions/" target="_blank">
						<i class="vs-cursor-pointer fab vs-color-default vs-margin-right-xsmall fa-facebook-square fa-2x"></i>
					</a>
					<a href="https://co.linkedin.com/company/24-7-ls" target="_blank">
						<i class="vs-cursor-pointer fab vs-color-default vs-margin-right-xsmall fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="vs-color-grey vs-margin-top-small">
					Hecho con 💛 en Colombia
				</div>
			</div>

		  <div class="col col-xs-12 col-md-4"></div>

		  <div class="col col-xs-12 col-md-4">
			  <h5 class="vs-margin-bottom-xsmall vs-color-grey">
				  Comunícate con nosotros:
			  </h5>
			  <div class="vs-margin-top-small email-to">
				  <i class="far vs-color-vs fa-envelope fa-lg vs-margin-right-xsmall"></i>
				  <a class="vs-margin-bottom-xsmall vs-color-grey" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@24-7ls.com" target="__blank">
					  info@24-7ls.com
				  </a>
			  </div>
			  <div>
				<i class="fas fa-phone fa-lg vs-color-vs vs-margin-right-xsmall"></i>
			  <a class="vs-margin-bottom-xsmall vs-color-grey" href="tel:13441492">
				  (1) 3441492
			  </a>
			</div>
			<div>
				<i class="fas fa-mobile-alt fa-lg vs-color-vs vs-margin-right-xsmall"></i>
				<a class="vs-margin-bottom-xsmall vs-color-grey" href="tel:3118069824">
					+57 3118069824
				</a>
			</div>
			  <div>
				<i class="fab fa-whatsapp fa-lg vs-color-vs vs-margin-right-xsmall"></i>
				<a class="vs-margin-bottom-xsmall vs-color-grey" href="https://api.whatsapp.com/send?phone=573118069824&text=¡Hola!%2024-7%20Logistic%20Solutions%20tengo%20un%20requerimiento%20logístico,%20deseo%20cotizar%20mi%20servicio%20con%20ustedes" target="_blank">
					Whatsapp
				</a>
			</div>
		  </div>
	  </div>
	  <div class="vs-text-align-center vs-color-grey">
		  24/7 LOGISTIC SOLUTIONS © 2019
	  </div>
  </div>
</div>
<ng-template #second class="vs-background-color-light footer">
  <div class="vs-container vs-padding-top-medium vs-text-align-center vs-color-grey ">
    24/7 LOGISTIC SOLUTIONS © 2019
  </div>
</ng-template>
