


<div class="vs-container vs-remove-scroll">
  <div class="row vs-display-flex">
    <div class="col col-xs-12 col-md-11 vs-margin-center">
       <div class="vs-section-widest vs-background-color-white">
         <div class="vs-display-flex">
            <ngx-avatar size="50" src="assets/img/admin/Maris.png"></ngx-avatar>
            <div class="vs-margin-left-small">
              <h4 class="vs-font-small vs-color-default vs-margin-remove">Maris alvarado</h4>
              <h4 class="vs-font-xsmall vs-color-grey vs-margin-top-xsmall">Operador de 24/7</h4>
            </div>
         </div>
       </div>
       <div class="vs-section-widest vs-background-color-white vs-margin-top-xsmall">
          <div class="vs-section-wide vs-background-color-white app-mensajes" id="app-mensajes">
            <div *ngFor="let chat of chats" [ngClass]="{'vs-display-inline vs-margin-top-small vs-float-right': _cs.userDetails._id == chat.uid}" class="text-right" class="col col-xs-12 col-md-7">
              <p [ngClass]="{'vs-background-color-light vs-float-right': _cs.userDetails._id == chat.uid, 'vs-background-color-white ': _cs.userDetails._id != chat.uid}" class="vs-message vs-display-inline-block vs-color-default">
                  {{chat.mensaje}}
                <span class="vs-color-grey vs-margin-left-small">7:30 am</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="vs-message-input col col-md-12 vs-margin-top-small">
              <input  type="text" name="mensaje" [(ngModel)]="mensaje"  (keyup.enter)="enviar_mensaje()"  placeholder="Escribele un mensaje a Maris" >
            </div>
          </div>
       </div>
    </div>
  </div>
</div>

<!-- <div class="vs-container">
  <div class="chat-window">
    <h1>
      Chat
    </h1>
    <hr>
    <div class="app-mensajes" id="app-mensajes">
      <div [ngClass]="{'text-right': _cs.userDetails._id == chat.uid}" class="text-right" *ngFor="let chat of chats">
        <span [ngClass]="{'vs-background-color-vs': _cs.userDetails._id != chat.uid}" class="badge badge-primary">
          {{chat.nombre}}
        </span>
       <p>{{chat.mensaje}}</p>
      </div>
  </div>
      <input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje">
  </div>
</div> -->

