<div class="card-request vs-border-decoration vs-section-widest vs-background-color-white vs-margin-bottom-small">
  <div class="row">
    <div class="col col-md-3 vs-text-align-center">
      <img src="../../../../assets/img/servicios/{{request.tipoDeServicio.nombre}}.png" alt="" />
      <div class="vs-margin-top-small vs-text-align-center">
          <p class="vs-font-xsmall vs-color-grey vs-margin-right-xsmall vs-display-inline-block">
            Origen:
          </p>
          <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
            {{request?.origen | firstChartUppercase }}
          </p>
        </div>
        <div *ngIf="request?.destino" class="vs-text-align-center">
          <p class="vs-font-xsmall vs-color-grey vs-margin-right-xsmall vs-display-inline-block">
            Destino:
          </p>
          <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
            {{request?.destino | firstChartUppercase }}
          </p>
        </div>
    </div>
    <div class="col col-md-9">
      <mat-list role="list">
        <h1 class="vs-font-large vs-margin-remove vs-color-default vs-text-500">
         {{request.tipoDeServicio.nombre | firstChartUppercase }}
        </h1>
        <p *ngIf="request.tipoDeServicio.especificamente" class="vs-font-small vs-color-grey vs-margin-top-zero vs-text-300">
          ( {{request.tipoDeServicio.especificamente | firstChartUppercase }} )
        </p>
        <div class="vs-display-flex vs-margin-top-small">
          <ngx-avatar size="50" src="assets/img/admin/{{request.operadorId.name}}.png"></ngx-avatar>
          <h1 class="vs-font-xsmall vs-text-mediumbold vs-color-grey">
            {{request.operadorId.name}} {{request.operadorId.lastName}}
          </h1>
        </div>
        <div class="vs-display-flex">
          <h1 class="vs-font-xsmall vs-margin-right-xsmall">
            Estado:
          </h1>
          <h1 class="vs-color-status vs-font-xsmall">
            {{request.estado | firstChartUppercase}}
          </h1>
        </div>
        <div class="vs-display-flex">
          <h1 class="vs-font-xsmall vs-margin-remove vs-margin-right-xsmall">
            Fecha creacion:
          </h1>
          <h1 class="vs-color-grey vs-margin-remove vs-font-xsmall">
            {{request.created_at | amLocale: 'es'  | amTimeAgo}}
          </h1>
        </div>
        <div class="vs-text-align-right">
          <a [routerLink]="['/dashboard/request', request._id]" class="vs-font-small vs-margin-right-xsmall vs-color-grey vs-cursor-pointer">
            Ver detalles
          </a>
        </div>
      </mat-list>
    </div>
  </div>
</div>
