<div class="card-request vs-section-widest vs-background-color-white vs-margin-bottom-medium">
  <div class="row">
    <div class="col col-md-4">
      <img src="../../../../assets/img/montacargas-radio.png" alt="">
    </div>
    <div class="col col-md-8">
      <mat-list role="list">
        <h1 class="vs-font-large">
          Alquiler de montacarga
        </h1>
        <div class="vs-display-flex">
          <img src="../../../../assets/img/Diana-Zamora.png" alt="Avatar" class="avatar">
          <h1 class="vs-font-xsmall vs-text-mediumbold vs-color-grey">
            Diana Zamora
          </h1>
        </div>
        <div class="vs-display-flex">
          <h1 class="vs-font-small vs-margin-right-xsmall">
            Status:
          </h1>
          <h1 class="vs-color-status vs-font-small">
            En alquiler
          </h1>
        </div>
        <h1 class="vs-font-small vs-text-align-right vs-margin-right-xsmall">
          Ver detalles
        </h1>
      </mat-list>
    </div>
  </div>
</div>
