
<div class="vs-background-color-default">
  <div class="vs-container header vs-color-white">

    <div *ngIf="userDetails?.role == 'ADMIN'" [routerLink]="['/dashboard/admin']" class="remove-focus vs-cursor-pointer">
      <img class="vs-dashboard-logo" src="../../../assets/img/logo-dashboard.png" alt="logo">
    </div>

    <div *ngIf="userDetails?.role == 'User'" [routerLink]="['/dashboard']" class="remove-focus vs-cursor-pointer">
      <img class="vs-dashboard-logo" src="../../../assets/img/logo-dashboard.png" alt="logo">
    </div>
    <div class="header-menu">
      <h1 [matMenuTriggerFor]="menu" class="vs-display-inline vs-cursor-pointer vs-font-xsmall vs-margin-right-small">
          Hola {{userDetails?.name | firstChartUppercase }} {{userDetails?.lastName | firstChart | uppercase }}
          <i class="fas fa-caret-down vs-color-white"></i>
      </h1>
      <mat-menu class="vs-margin-top-xsmall menu" #menu="matMenu" xPosition="before">
        <button *ngIf="userDetails?.role == 'ADMIN'" class="vs-color-vs" routerLink="/dashboard/admin/profile"  mat-menu-item> Ver/Editar Perfil</button>
        <button *ngIf="userDetails?.role == 'User'" class="vs-color-vs" routerLink="/dashboard/profile"  mat-menu-item> Ver/Editar Perfil</button>
        <button class="vs-color-vs" mat-menu-item> Mensajes </button>
        <button class="vs-color-vs" mat-menu-item>Ayuda</button>
        <button (click)="onLogout()" class="vs-color-vs" mat-menu-item>
          <i class="fas fa-sign-out-alt vs-color-default"></i>
          Cerrar Sesion
        </button>
      </mat-menu>

      <ngx-avatar *ngIf="userDetails?.role == 'User'"  fgColor="#3e3e3e" [matMenuTriggerFor]="menu"   bgColor="#f5f5f5" name={{displayName}} [round]="true">
      </ngx-avatar>
      <ngx-avatar *ngIf="userDetails?.role == 'ADMIN'" src="assets/img/admin/{{userDetails.name}}.png" fgColor="#3e3e3e" [matMenuTriggerFor]="menu"   bgColor="#FFF" name={{displayName}} [round]="true">
      </ngx-avatar>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
