
<div class="vs-background-color-default">
  <div class="vs-container header vs-color-white">
    <div [routerLink]="['/dashboard']" class="remove-focus vs-cursor-pointer">
      <img class="vs-dashboard-logo" src="../../../assets/img/logo-dashboard.png" alt="logo">
    </div>
    <div class="header-menu">
      <h1 [matMenuTriggerFor]="menu" class="vs-display-inline vs-cursor-pointer vs-font-xsmall vs-margin-right-small">
        Hola {{userDetails?.name | firstChartUppercase }} {{userDetails?.lastName | firstChart | uppercase }}
        <i class="fas fa-caret-down vs-color-white"></i>
      </h1>
      <mat-menu class="vs-margin-top-xsmall menu" #menu="matMenu" xPosition="before">
        <button class="vs-color-vs" mat-menu-item> Ver/Editar Perfil</button>
        <button class="vs-color-vs" mat-menu-item> Mis Mensajes </button>
        <button class="vs-color-vs" mat-menu-item>Ayuda</button>
        <button (click)="onLogout()" class="vs-color-vs" mat-menu-item>
          <i class="fas fa-sign-out-alt vs-color-default"></i>
          Cerrar Sesion
        </button>
      </mat-menu>
      <ngx-avatar fgColor="#3e3e3e" [matMenuTriggerFor]="menu"   bgColor="#FFF" name={{displayName}} [round]="true"></ngx-avatar>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


 <!-- <div class="vs-background-color-white">
      <nav class="vs-container vs-padding-top-zero vs-padding-bottom-zero" mat-tab-nav-bar>
        <a mat-tab-link
           [routerLink]="link.path"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            home
        </a>
        <a mat-tab-link
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]="isActive">
            un poco mas
        </a>
      </nav>
    </div> -->
