<div class="row vs-display-flex vs-margin-top-xsmall">
    <div class="col col-xs-10 col-md-5 col-lg-5 vs-margin-center vs-margin-top-small">
      <div class="vs-section vs-text-align-center col-md-12 vs-background-color-white request-view animated fadeIn">
        <img src="../../../../assets/img/servicios/{{requestDetails?.tipoDeServicio.nombre}}.png" alt="">
        <h1 class="vs-color-vs vs-font-large">
          {{requestDetails?.tipoDeServicio?.nombre | firstChartUppercase }}
        </h1>
        <h1 *ngIf="requestDetails?.tipoDeServicio?.especificamente" class="vs-color-grey vs-font-small vs-margin-remove">
         ( {{requestDetails?.tipoDeServicio?.especificamente | firstChartUppercase }} )
        </h1>
        <div class="vs-margin-top-small">
          <h1 class="vs-font-small vs-color-grey vs-display-inline">
            Origen:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove vs-display-inline">
            {{requestDetails?.origen | firstChartUppercase }}
          </p>
        </div>
        <div *ngIf="requestDetails?.destino">
          <h1 class="vs-font-small vs-color-grey vs-display-inline vs-margin-remove ">
            Destino:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove vs-display-inline">
            {{requestDetails?.destino | firstChartUppercase }}
          </p>
        </div>
        <div class="vs-margin-top-small">
          <h1 class="vs-font-small">
            Cliente:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove">
            {{requestDetails?.usuario.name | firstChartUppercase }}
            {{requestDetails?.usuario.lastName | firstChartUppercase }}
          </p>
        </div>
        <div class="vs-margin-top-medium">
          <h1 class="vs-font-small">
            Mensaje:
          </h1>
          <p class="vs-margin-remove vs-color-grey">
            {{requestDetails?.mensaje}}
          </p>
        </div>
        <div class="vs-margin-top-medium vs-margin-bottom-small">
          <h1 class="vs-font-small">
            Fecha Creacion:
          </h1>
          <p class="vs-margin-remove vs-color-grey">
            Hace 2 horas
          </p>
        </div>
        <h1 *ngIf="requestDetails?.estado === 'recibido'" class="vs-font-xsmall vs-text-align-left vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
          MENSAJES DE ACEPTACION
        </h1>
        <hr>
        <div *ngIf="requestDetails?.estado === 'recibido'" class="vs-input-field multiline vs-margin-top-small">
          <input [(ngModel)]="mensaje" class="txt-a" matInput />
        </div>
        <div *ngIf="requestDetails?.estado === 'recibido'; else name">
          <div class="col col-md-12 col-md-12">
            <button *ngIf="!isLoading; else spinner" (click)="aceptarSolicitud(requestDetails.usuario._id)"
              mat-raised-button
              class="vs-text-uppercase vs-remove-shadow"
              color="primary"
            >
              ACEPTAR SOLICITUD
            </button>
            <ng-template #spinner>
              <mat-spinner class="vs-margin-center"></mat-spinner>
            </ng-template>
          </div>
        </div>
        <ng-template #name>
          <div class="vs-margin-top-small">
            <div class="col col-xs-12 col-md-6">
              <button [routerLink]="['/dashboard/chat', requestDetails?._id]" mat-raised-button [routerLink]="['/dashboard/chat/6']" class="vs-text-uppercase  vs-remove-shadow vs-margin-top-xsmall" color="primary">
                Enviar mensaje
              </button>
            </div>
            <div class="col col-xs-12 col-md-6">
              <button mat-raised-button [routerLink]="['/dashboard/admin']" class="vs-text-uppercase  vs-remove-shadow vs-background-color-default vs-margin-top-xsmall" color="primary">
                ir al dashboard
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
</div>

