<!-- <div class="col-md-12">
  <div class="card wow fadeIn">
      <div class="card-body">
          <div class="row p-t-10 p-b-10"> -->
              <!-- Column -->
              <!-- <div class="col p-r-0 datos mb-3"> -->
                  <!-- <h1 class="font-light">Negocio</h1> -->
                  <!-- <div class="display-4 nombre mr-3" ><i class="mdi mdi-account-circle text-info" style="    font-size: 2rem;"></i><span style="font-size: initial;">{{negocio?.lead.id_cliente.nombre}} {{negocio?.lead.id_cliente.apellido}}</span></div> -->

                  <!-- <div *ngIf="negocio?.lead.id_cliente.tipo_cliente.tipo == 'Empresa'" class="display-4 nombre" ><i class="mdi mdi-city text-info" style="    font-size: 2rem;"></i><span style="font-size: initial;">{{negocio?.lead.id_cliente.tipo_cliente.nombre}}</span></div> -->
              <!-- Column -->
          <!-- </div>
          <div class="col-md-12">
              <div class="linea-de-tiempo">
                  <ul>
                    <li class="active pointer">
                      <div  *ngIf="!estadoGeneral?.segundoPaso.estado" ngbPopover="Has estado aqui {{tiempoInicial_1}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Nuevo" class="seccion-negocio">
                        <span class="">{{estado_1_dias}} días</span>
                      </div>
                      <div *ngIf="estadoGeneral?.segundoPaso.estado" ngbPopover="Fecha final: {{tiempoFinal_1}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Nuevo" class="seccion-negocio">
                        <span class="">{{estado_1_dias}} días</span>
                      </div>
                    </li>
                    <li (click)="estado(2)" [ngClass]="{'verde': estadoGeneral?.segundoPaso.estado === true, 
                                                                        'gris':estadoGeneral?.segundoPaso.estado === false }" class="transition-effect pointer">
                        <div  *ngIf="!estadoGeneral?.tercerPaso.estado" ngbPopover="{{(tiempoInicial_2) ? 'Has estado aqui' : '...' }} {{tiempoInicial_2}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Lead en proceso" class="seccion-negocio">
                            <span  class="">0 días</span>
                            <span class="flecha-inicial"></span>
                          </div>
                          <div *ngIf="estadoGeneral?.tercerPaso.estado" ngbPopover="{{(tiempoFinal_2) ? 'Fecha Final' : '...' }} {{tiempoFinal_2}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Lead en proceso" class="seccion-negocio">
                            <span  class="">0 días  </span> 
                              <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.primerPaso.estado == true}"></span>
                          </div>
                         
                      </li>
                    <li (click)="estado(3)" [ngClass]="{'verde': estadoGeneral?.tercerPaso.estado === true, 
                                                                        'gris':estadoGeneral?.tercerPaso.estado === false }" class="transition-effect pointer">
                        <div  *ngIf="!estadoGeneral?.cuartoPaso.estado" ngbPopover="{{(tiempoInicial_3) ? 'Has estado aqui' : '...' }}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Cotización" class="seccion-negocio">
                            <span class="">0 días</span>
                            <span class="flecha-inicial"></span>
                          </div>
                          <div *ngIf="estadoGeneral?.cuartoPaso.estado" ngbPopover="{{(tiempoFinal_3) ? 'Fecha Final' : '...' }} {{tiempoFinal_3}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Cotización" class="seccion-negocio">
                            <span class="">0 días</span>
                            
                            <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.segundoPaso.estado == true}"></span>
                        </div>
                         
                      </li>
                    <li (click)="estado(4)" class="pointer" [ngClass]="{'verde': estadoGeneral?.cuartoPaso.estado === true, 
                                                                        'gris':estadoGeneral?.cuartoPaso.estado === false }" class="transition-effect">
                          <div  ngbPopover="{{(tiempoFinal_4) ? 'Fecha Final' : '...' }} {{tiempoFinal_4}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Efectivo" class="seccion-negocio pointer">
                            <span class="">0 días</span>
                            
                            <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.tercerPaso.estado == true}"></span>
                        </div>
                          
                      </li>
                  </ul>
                </div>
            </div>
            
          </div>
      </div>
  </div>
</div> -->

<div class="row vs-display-flex vs-margin-top-xsmall">
    <div class="col col-xs-10 col-md-5 col-lg-5 vs-margin-center vs-margin-top-small">
      <div class="vs-section vs-text-align-center col-md-12 vs-background-color-white request-view animated fadeIn">
        <div class="vs-text-align-right">
            <button mat-button class="vs-color-default" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="solicitudCompletada(requestDetails.usuario._id)" *ngIf="requestDetails?.estado === 'en proceso'"class="vs-color-grey" mat-menu-item>
                <mat-icon class="vs-margin-remove">
                  check_circle
                </mat-icon>
                Solicitud completada
              </button>
              <button (click)="cancelarSolicitud(requestDetails.usuario._id)" class="vs-color-grey" mat-menu-item>
                <mat-icon class="vs-margin-remove">cancel</mat-icon>
                  Cancelar solicitud
                </button>
            </mat-menu>
        </div>
        <img src="../../../../assets/img/servicios/{{requestDetails?.tipoDeServicio.nombre}}.png" alt="">
        <h1 class="vs-color-vs vs-font-large">
          {{requestDetails?.tipoDeServicio?.nombre | firstChartUppercase }}
        </h1>
        <h1 *ngIf="requestDetails?.tipoDeServicio?.especificamente" class="vs-color-grey vs-font-small vs-margin-remove">
         ( {{requestDetails?.tipoDeServicio?.especificamente | firstChartUppercase }} )
        </h1>
        <div class="vs-margin-top-small">
          <h1 class="vs-font-small vs-color-grey vs-display-inline">
            Origen:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove vs-display-inline">
            {{requestDetails?.origen | firstChartUppercase }}
          </p>
        </div>
        <div *ngIf="requestDetails?.destino">
          <h1 class="vs-font-small vs-color-grey vs-display-inline vs-margin-remove ">
            Destino:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove vs-display-inline">
            {{requestDetails?.destino | firstChartUppercase }}
          </p>
        </div>
        <div class="vs-margin-top-small">
          <h1 class="vs-font-small">
            Cliente:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove">
            {{requestDetails?.usuario.name | firstChartUppercase }}
            {{requestDetails?.usuario.lastName | firstChartUppercase }}
          </p>
            <h1 class="vs-font-small">
              {{requestDetails?.cliente.nombreEmpresa ? 'Empresa' : 'Natural' }}
            </h1>
            <p *ngIf="requestDetails?.cliente.nombreEmpresa; else natural" class="vs-color-grey vs-font-small vs-margin-remove">
              {{requestDetails?.cliente.nombreEmpresa | firstChartUppercase }}
              <span class="vs-color-grey vs-font-small vs-margin-remove">NIT:</span>
              ({{requestDetails?.cliente.documento}})
            </p>
            <ng-template #natural>
              <p class="vs-color-grey vs-font-small vs-margin-remove">
                 Documento:
                ({{requestDetails?.cliente.documento}})
              </p>
            </ng-template>
          <h1 class="vs-font-small">
            Telefono:
          </h1>
          <p class="vs-color-grey vs-font-small vs-margin-remove">
            {{requestDetails?.usuario.cellPhone }}
          </p>
          <h1 class="vs-font-small">
            Correo:
            </h1>
            <p class="vs-color-grey vs-font-small vs-margin-remove">
              {{requestDetails?.usuario.email }}
            </p>
        </div>
        <div class="vs-margin-top-medium">
          <h1 class="vs-font-small">
            Mensaje:
          </h1>
          <p class="vs-margin-remove vs-color-grey">
            {{requestDetails?.mensaje}}
          </p>
        </div>
        <div class="vs-margin-top-medium vs-margin-bottom-small">
          <h1 class="vs-font-small">
            Fecha Creacion:
          </h1>
          <p class="vs-margin-remove vs-color-grey">
            {{requestDetails?.created_at | amLocale: 'es'  | amTimeAgo}}
          </p>
        </div>
        <h1 *ngIf="requestDetails?.estado === 'recibido'" class="vs-font-xsmall vs-text-align-left vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
          MENSAJES DE ACEPTACION
        </h1>
        <hr>
        <div *ngIf="requestDetails?.estado === 'recibido'" class="vs-input-field multiline vs-margin-top-small">
          <input [(ngModel)]="mensaje" class="txt-a" matInput />
        </div>
        <div *ngIf="requestDetails?.estado === 'recibido'; else name">
          <div class="col col-md-12 col-md-12">
            <button *ngIf="!isLoading; else spinner" (click)="aceptarSolicitud(requestDetails.usuario._id)"
              mat-raised-button
              class="vs-text-uppercase vs-remove-shadow"
              color="primary"
            >
              ACEPTAR SOLICITUD
            </button>
            <ng-template #spinner>
              <mat-spinner class="vs-margin-center"></mat-spinner>
            </ng-template>
          </div>
        </div>
        <ng-template #name>
          <div class="vs-margin-top-small">
            <div class="col col-xs-12 col-md-6">
              <button [routerLink]="['/dashboard/admin/chat', requestDetails?._id]" mat-raised-button [routerLink]="['/dashboard/chat/6']" class="vs-text-uppercase  vs-remove-shadow vs-margin-top-xsmall" color="primary">
                Enviar mensaje
              </button>
            </div>
            <div class="col col-xs-12 col-md-6">
              <button mat-raised-button [routerLink]="['/dashboard/admin']" class="vs-text-uppercase  vs-remove-shadow vs-background-color-default vs-margin-top-xsmall" color="primary">
                ir al dashboard
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
</div>

