
<div class="vs-container">
  <div class="row">
    {{dataUser}} hola
    <!-- Request list -->
    <div class="col col-md-8">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Pendiente ({{requests?.length}})">
          <div className="vs-margin-top-small">
              <h1 *ngIf="requests?.length == 0" class="vs-color-grey vs-font-small vs-text-align-center">
                  No hay nada todavia
              </h1>
            <div *ngFor="let request of requests">
              <app-request-card [request]="request"></app-request-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="En proceso ({{requestsOnProgress?.length}})">
          <h1 *ngIf="requestsOnProgress?.length == 0; else request" class="vs-color-grey vs-font-small vs-text-align-center">
            No hay nada todavia
          </h1>
          <ng-template #request>
            <div *ngFor="let request of requestsOnProgress">
              <app-request-card [request]="request"></app-request-card>
            </div>
          </ng-template>

        </mat-tab>
        <mat-tab label="Historial ({{numeroDeHistorials}})">
          <h1 *ngIf="numeroDeHistorials == 0" class="vs-color-grey vs-font-small vs-text-align-center">
            No tienes historial
          </h1>
          <app-request-historial (sendNumber)="showPueblo($event)">
          </app-request-historial>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- Request filter -->
    <div class="col col-md-4">
     <div class="vs-background-color-white vs-section-widest hide-on-mobile">
        <h1 class="vs-font-xsmall vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
          <i class="far fa-bell fa-lg vs-margin-right-xsmall"></i>
          NOTIFICACIONES
        </h1>
        <hr>
        <div class="vs-full-width">
          <app-notifications>
          </app-notifications>
        </div>
     </div>

     <div class="div-button">
        <li class="box-label mt-2">
           <button (click)="cargarLeads()" class="btn  text-white"><div *ngIf="!cargaReporte2" class="text-center ">
               <span>Generando reporte Excel </span>
               <br>
               <i class="fa fa-sync fa-spin fa-lg "></i>
               <br>
           </div><span  *ngIf="cargaReporte2">Generar Reporte Excel  <i *ngIf="cargaReporte2" class="fa fa-file-excel"></i> </span></button>
       </li>
     </div>

     <div class="vs-background-color-white vs-section-widest vs-margin-top-small hide-on-mobile">
        <h1 class="vs-font-xsmall vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
          MIS MENSAJES
        </h1>
        <hr>
        <div class="vs-margin-top-xsmall">
          <mat-list role="list" class="menu">
            <button  mat-menu-item>
              <mat-icon>message</mat-icon>
              Mensajes
            </button>
          </mat-list>
        </div>
     </div>
     <div class="vs-background-color-white vs-margin-top-small vs-section-widest">
        <button
          mat-raised-button [routerLink]="['/dashboard/solicitar-servicio']"
          class="vs-text-uppercase vs-remove-shadow vs-full-width"
          color="primary"
        >
          Nueva solicitud
        </button>
     </div>
    </div>
  </div>
</div>
