<div class="col-sm-12 col-md-12 formSicetac">
  <h1>RESERVA TÚ SERVICIO LÓGISTICO</h1>
  <div class="col-sm-12 col-md-12">
    <p>Configuración de vehículo</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let vehicleType of vehicleConfiguration" [value]="vehicleType.value">
          {{vehicleType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-12">
    <p>Tipo de carga a transportar</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataTypeOfLoad of typeOfLoad" [value]="dataTypeOfLoad.value">
          {{dataTypeOfLoad.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-12">
    <p>Tipo de unidad de transporte a utilizar</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Origen</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Destino</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Fecha y hora</p>
    <p>Actividad del cargue</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Fecha y hora</p>
    <p>Actividad del descargue</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Horas en espera</p>
    <p>en el cargue</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-6">
    <p>Horas en espera</p>
    <p>en el descargue</p>
    <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
      <mat-select>
        <mat-option *ngFor="let dataDriveType of driveType" [value]="dataDriveType.value">
          {{dataDriveType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>