<div class="vs-container">
    <div class="row">

      <div class="col col-md-8">
        <div class="row vs-margin-bottom-medium">
          <div class="col col-md-6">
            <div (click)="toggleMenuPending()" class="vs-section-widest vs-cursor-pointer vs-background-color-vs">
              <h1 class="vs-font-medium vs-margin-remove vs-text-align-center">
                Nuevas solicitudes
              </h1>
              <h1 class="vs-font-super-large vs-text-align-center">
                {{requests?.length}}
              </h1>
            </div>
          </div>

          <div class="col col-md-6">
            <div (click)="toggleMenuOnProgress()" class="vs-section-widest vs-cursor-pointer vs-background-color-grey-light">
              <div>
                <h1 class="vs-font-medium vs-margin-remove vs-text-align-center">
                   Solicitudes en proceso
                  </h1>
                  <h1 class="vs-font-super-large vs-text-align-center">
                    {{requestOnProgress?.length}}
                  </h1>
                </div>
            </div>
          </div>
        </div>
          <h1 class="vs-font-xsmall vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
            {{!onProgress ? "NUEVAS SOLICITUDES" : "SOLICITUDES EN PROCESO" }}
          </h1>
          <hr class="vs-background-color-grey-light vs-margin-bottom-small">
          <h1 *ngIf="!onProgress && requests?.length === 0" class="vs-color-grey vs-font-small vs-text-align-center">
              No tienes nuevas solicitudes
          </h1>
          <h1 *ngIf="onProgress && requestOnProgress?.length === 0" class="vs-color-grey vs-font-small vs-text-align-center">
              No tienes solicitudes en proceso
          </h1>
          <div *ngIf="!onProgress">
            <div *ngFor="let request of requests">
              <admin-app-request-card [request]="request"> </admin-app-request-card>
            </div>
          </div>
          <div *ngIf="onProgress">
            <div *ngFor="let request of requestOnProgress">
              <admin-app-request-card [request]="request"> </admin-app-request-card>
            </div>
          </div>
        </div>


      <div class="col col-md-4">
       <div class="vs-background-color-white vs-section-widest">
          <h1 class="vs-font-xsmall vs-color-vs vs-margin-bottom-xsmall vs-margin-remove">
            <i class="far fa-bell fa-lg vs-margin-right-xsmall"></i>
            NOTIFICACIONES
          </h1>
          <hr>
          <div class="vs-margin-top-xsmall">
            <app-notifications>
            </app-notifications>
          </div>
       </div>
      </div>
    </div>
  </div>
