
  
  td, th {
    width: 25%;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
    cursor: pointer;
  }



h1,h2,h3,h4,h6,p,span,label,a,button,td,th,small {
    font-family: 'Oswald'!important;
}



.color-azul {
    background-color: #398bf7!important;
    color: #ffffff!important;
    margin: 10px;
}

#button {
  color: black !important;
}

.boton-consulta {
    margin-top: 20px;
}

.div-button{
    padding-top: 4%;
    padding-left: 5%;
}

.div-button2{
  padding-bottom: 3%;
  padding-left: 5%;
}

.reportStatus{
  background-color: #FFD15C;
  color: black;
}

.reportBtn{
  font-size: small;
}
