
<div class="vs-full-width">
    <div class="vs-notification-list">
        <mat-form-field>
            <input matInput [formControl]="search" placeholder="Búsqueda (nombre cliente)">
        </mat-form-field>
      <div *ngFor="let notification of notifications"  class="vs-notification vs-cursor-pointer  vs-margin-top-small">
        <div class="vs-display-flex">
            <ngx-avatar *ngIf="Role == 'User'; else hole" class="vs-margin-right-xsmall" size="35" src="assets/img/admin/{{notification.sender?.name}}.png" fgColor="#3e3e3e"  bgColor="#FFF"  [round]="true"></ngx-avatar>

            <ng-template #hole>
              <ngx-avatar  class="vs-margin-right-xsmall" size="35" name="{{notification.sender?.name + ' ' + notification.sender?.lastName}}" [round]="true"></ngx-avatar>
            </ng-template>

            <h1 class="vs-font-xsmall vs-margin-remove">
              <span class="vs-color-grey">
                {{notification.sender?.name}}
                {{notification.sender?.lastName}}
              </span>
              <span class="vs-color-grey vs-text-300">
                {{notification?.message}}
              </span>
              <br>
              <span class="vs-color-grey time vs-margin-top-small vs-text-align-right">
                {{notification?.created_at | amLocale:'es'  | amTimeAgo}}
              </span>
            </h1>

        </div>
      </div>
    </div>
</div>


<!-- <mat-list role="list" class="menu">
  <button  mat-menu-item>
    <i class="far fa-bell fa-2x vs-margin-right-xsmall"></i>
    <span> Notificationes </span>
  </button>
  <div class="vs-notifications-list">

  </div>
</mat-list> -->
