<div id='crmWebToEntityForm' style='width:600px;margin:auto;'>
      <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
      <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4294441000000943225 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4294441000000943225()' accept-charset='UTF-8' #f>
    <input type='text' style='display:none;' name='xnQsjsdp' value='36bbb6f83370f67cab9bfb841b69797b9ec15418d48e8860caf95c5a3f1e9eb4'> 
    <input type='hidden' name='zc_gad' id='zc_gad' value=''> 
    <input type='text' style='display:none;' name='xmIwtLD' value='a58804af24457658515628642ae3e1f286c9f578cacac1339dfaf090151e24a8'> 
    <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='>
    <input type='text' style='display:none;' name='returnURL' value='https://econtainers.co/' > <br><br>
     <!-- Do not remove this code. -->
     <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'>
     <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'>
     <!-- Do not remove this code. -->


     <table style='width:600px;background-color:#ffffff;background-color:white;color:black'><tr><td colspan='2' align='left' style='color:black;font-family:Arial;font-size:14px;word-break: break-word;'><strong>Formulario 24&#x2f;7</strong></td></tr> <br><br><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tipo de soluci&oacute;n</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF41' [value]="formData.tipoDeServicio">
          <option value='-None-'>-None-</option>
          <option value='transporte de carga'>Transporte de carga</option>
          <option value='alquiler de montacarga'>Alquiler de montacarga</option>
          <option value='alquiler de grua'>Alquiler de grua</option>
          <option value='operario de cargue y descargue'>Operario de cargue y descargue</option>
        </select></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Peso de carga</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF44' [value]="formData.especificamente">
          <option value='-None-'>-None-</option>
          <option value='1 tonelada'>1 tonelada</option>
          <option value='2 toneladas'>2 toneladas</option>
          <option value='3 toneladas'>3 toneladas</option>
          <option value='4 toneladas'>4 toneladas</option>
          <option value='5 toneladas'>5 toneladas</option>
          <option value='6 toneladas'>6 toneladas</option>
          <option value='7 toneladas'>7 toneladas</option>
          <option value='8 toneladas'>8 toneladas</option>
          <option value='9 toneladas'>9 toneladas</option>
          <option value='10 toneladas'>10 toneladas</option>
          <option value='11 toneladas'>11 toneladas</option>
          <option value='12 toneladas'>12 toneladas</option>
          <option value='13 toneladas'>13 toneladas</option>
          <option value='14 toneladas'>14 toneladas</option>
          <option value='15 toneladas'>15 toneladas</option>
          <option value='16 toneladas'>16 toneladas</option>
        </select></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tipo Gr&uacute;a</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF42' [value]="formData.especificamente">
          <option value='-None-'>-None-</option>
          <option value='gruá ph'>Gr&uacute;a PH</option>
          <option value='gruá telescopica'>Gr&uacute;a Telescopica</option>
          <option value='gruá de gancho'>Gr&uacute;a de gancho</option>
          <option value='gruá autodescargable'>Gr&uacute;a auto-descargable</option>
          <option value='telehandler'>Telehandler</option>
          <option value='ManLift'>ManLift</option>
        </select></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Ciudad donde requiere el servicio</td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='255' name='LEADCF43' /></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tipo de transporte de carga</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF46' [value]="formData.especificamente">
          <option value='-None-'>-None-</option>
          <option value='transporte de carga seca'>Transporte de carga seca</option>
          <option value='transporte de contenedores'>Transporte de contenedores</option>
          <option value='transporte refrigerado'>Transporte refrigerado</option>
          <option value='transporte de carga extradimensionada'>Transporte de carga extradimensionada</option>
        </select></td><td style='width:30%;'></td></tr>
        
        <tr>
          <td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Origen</td>
          <td style='width:40%;' >
            <input type='text' style='width:100%;box-sizing:border-box;'  maxlength='255' name='LEADCF45' [value]="formData.origen">
          </td>
          <td style='width:30%;'></td>
        </tr>

        <tr>
          <td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Ciudad Destino</td>
            <td style='width:40%;' >
              <input type='text' style='width:100%;box-sizing:border-box;'  maxlength='255' name='LEADCF13' [value]="formData.destino">
            </td>
          <td style='width:30%;'></td>
        </tr>

        <tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tipo Cliente</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF37' [value]="formData.cliente_tipo">
          <option value='-None-'>-None-</option>
          <option value='natural'>Natural</option>
          <option value='empresa'>Empresa</option>
          <option value='contratacion estatal'>Contrataci&oacute;n estatal</option>
        </select></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tipo de documento</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='LEADCF1' [value]="formData.cliente_tipoDocumento">
          <option value='-None-'>-None-</option>
          <option value='C&eacute;dula&#x20;Ciudadan&iacute;a'>C&eacute;dula Ciudadan&iacute;a</option>
          <option value='Nit'>Nit</option>
          <option value='C&eacute;dula&#x20;de&#x20;extranjer&iacute;a'>C&eacute;dula de extranjer&iacute;a</option>
          <option value='C&eacute;dula&#x20;Extranjer&iacute;a'>C&eacute;dula Extranjer&iacute;a</option>
          <option value='Pasaporte'>Pasaporte</option>
          <option value='Pase&#x20;Diplom&aacute;tico'>Pase Diplom&aacute;tico</option>
          <option value='Carnet&#x20;Diplom&aacute;tico'>Carnet Diplom&aacute;tico</option>
          <option value='Tarjeta&#x20;De&#x20;Identidad'>Tarjeta De Identidad</option>
          <option value='N&uacute;mero&#x20;&Uacute;nico&#x20;de&#x20;Identif.&#x20;Personal'>N&uacute;mero &Uacute;nico de Identif. Personal</option>
          <option value='Nit&#x20;Extranjer&iacute;a'>Nit Extranjer&iacute;a</option>
        </select></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>N&uacute;mero de documento</td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='255' name='LEADCF2' [value]="formData.cliente_documento"></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>D&iacute;gito de verificaci&oacute;n</td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='2' name='LEADCF38' /></td><td style='width:30%;'></td></tr>
        
        
        <tr>
          <td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Ciudad</td>
            <td style='width:40%;' >
              <input type='text' style='width:100%;box-sizing:border-box;'  maxlength='100' name='City' [value]="formData.usuario_ciudad">
            </td>
          <td style='width:30%;'>
          </td>
        </tr>
        
        <tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Tel&eacute;fono</td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='30' name='Phone' [value]="formData.usuario_telefono"></td><td style='width:30%;'></td></tr><tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>M&oacute;vil</td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='30' name='Mobile' [value]="formData.usuario_celular"></td><td style='width:30%;'></td></tr>
        <tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Nombre<span style='color:red;'>*</span></td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='40' name='First Name' [value]="formData.usuario_nombre"></td><td style='width:30%;'></td></tr><tr style='display:none;' ><td style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%'>Fuente de Posible cliente</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='Lead Source'>
          <option value='-None-'>-None-</option>
          <option value='Llamada&#x20;en&#x20;fr&iacute;o'>Llamada en fr&iacute;o</option>
          <option value='Whatsapp'>Whatsapp</option>
          <option value='Facebook'>Facebook</option>
          <option value='Referido&#x20;interno'>Referido interno</option>
          <option value='Referido&#x20;Externo'>Referido Externo</option>
          <option value='Tienda&#x20;en&#x20;linea'>Tienda en linea</option>
          <option value='Socio'>Socio</option>
          <option value='Feria'>Feria</option>
          <option value='Relaciones&#x20;publicas'>Relaciones publicas</option>
          <option value='Chat'>Chat</option>
          <option value='Instragram'>Instragram</option>
          <option value='Linkedin'>Linkedin</option>
        <option selected value='Formulario&#x20;Web'>Formulario Web</option>
          <option value='FW&#x20;-COT-&#x20;Standard-Alquiler'>FW -COT- Standard-Alquiler</option>
          <option value='FW&#x20;-COT-&#x20;Standard-venta'>FW -COT- Standard-venta</option>
          <option value='FW&#x20;-COT-&#x20;EFF'>FW -COT- EFF</option>
        </select></td><td style='width:30%;'></td></tr><tr style='display:none;' ><td style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%'>Estado de Posible cliente</td><td style='width:40%;'>
        <select style='width:100%;box-sizing:border-box;' name='Lead Status'>
          <option value='-None-'>-None-</option>
          <option value='Intent&eacute;&#x20;contactar'>Intent&eacute; contactar</option>
          <option value='Contactar&#x20;en&#x20;el&#x20;futuro'>Contactar en el futuro</option>
          <option value='Contactado'>Contactado</option>
          <option value='Perdido'>Perdido</option>
          <option value='Peridido'>Peridido</option>
        <option selected value='No&#x20;contactado'>No contactado</option>
          <option value='Pre-Calificado'>Pre-Calificado</option>
          <option value='No&#x20;calificado'>No calificado</option>
        </select></td><td style='width:30%;'></td></tr>
        
        <tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Apellidos<span style='color:red;'>*</span></td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='80' name='Last Name' [value]="formData.usuario_apellido"></td><td style='width:30%;'></td></tr>
        <tr><td  style='word-break: break-word;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Correo electrónico<span style='color:red;'>*</span></td><td style='width:40%;' ><input type='text' style='width:100%;box-sizing:border-box;'  maxlength='100' name='Email' [value]="formData.usuario_correo"></td><td style='width:30%;'></td></tr>

    <tr><td colspan='2' style='text-align:center; padding-top:15px;font-size:12px;'>
      <input style='margin-right: 5px;cursor: pointer;font-size:12px;color:black' id='formsubmit' type='submit' value='Enviar'  > <input type='reset' name='reset' style='cursor: pointer;font-size:12px;color:black' value='Restablecer' > </td></tr></table>
    </form>
   </div>