<div class="page-title">
  <h2>
    Autorizacion y tratamiento de datos
  </h2>
</div>
<div class="background">
  <div class="row vs-container">
    <div class="col col-md-8">
      <h5> 1. INTRODUCCIÓN</h5>
      <p>
          24/7 LOGISTIC SOLUTIONS SAS (en adelante “24/7 LOGISTIC SOLUTIONS”), ha elaborado la presente política de privacidad y de
          protección de datos personales (en adelante la “Política”) con el propósito de dotar a la empresa, de una
          herramienta que permita regular la recolección, almacenamiento, tratamiento, administración,
          transferencia, transmisión y protección de toda información (en adelante los “Datos Personales”) que se
          reciba de candidatos a procesos de selección, colaboradores directos e indirectos, clientes y proveedores,
          a través de sus dependencias; dando así cumplimiento a la Ley Estatutaria 1581 de 2012, Decreto 1377 de
          2013 y demás normas concordantes, por las cuales se dictan disposiciones generales para la protección
          de datos personales.
      </p>
      <h5 class="vs-margin-top-small"> 2. ÁMBITO DE APLICACIÓN</h5>
      <p>
          La Política será aplicable a los datos personales de personas naturales, registrados en cualquier base de datos,
          susceptibles de tratamiento por encontrarse en poder de 24/7 LOGISTIC SOLUTIONS.
      </p>
      <h5 class="vs-margin-top-small"> 3. OBJETIVO DE LA POLÍTICA: </h5>
      <p>
          EL objetivo de la POLITICA DE TRATAMIENTO DE DATOS PERSONALES
          DE E- CONTAINERS, es el de cumplir y garantizar la aplicación de la normatividad correspondiente a la
          protección de datos personales vigente, con el fin de dar un correcto tratamiento a los mismos, por lo que
          se procede a establecer los deberes, derechos y responsabilidades de las partes, así como el procedimiento
          para realizar la autorización de uso de la información, consultas y reclamos de los titulares de los Datos
          Personales y demás actividades propias que se pueden desarrollar con ocasión de esta política.
      </p>
      <h5 class="vs-margin-top-small"> 4. DEFINICIONES</h5>
      <p>
          Autorización: Consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de
          datos personales. Aviso de Privacidad: Comunicación verbal o escrita generada por el Responsable,dirigida
          al Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia
          de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y
          las finalidades del Tratamiento que se pretende dar a los datos personales
      </p>
      <p>
          Base de Datos: Conjunto organizado de datos personales que sea objeto de tratamiento.
          Dato Personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales
          determinadas o determinables.
          Dato Privado: Es el dato que por su naturaleza íntima o reservada sólo es relevante para
          el titular
          Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros,
          realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
          Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros,
          decida sobre la base de datos y/o el Tratamiento de los datos.
          Titular: Persona natural cuyos datos personales sean objeto de Tratamiento;
          Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales,
          tales como la recolección, almacenamiento, uso, circulación o supresión.
      </p>
      <h5 class="vs-margin-top-small"> 5. IDENTIFICACION DE RESPONSABLE DEL TRATAMIENTO DE LOS DATOS PERSONALES </h5>
      <p>
          24/7 LOGISTIC SOLUTIONS, actuará como Responsable del Tratamiento y estará identificada de la siguiente manera:
      </p>
      <p>
          Razón social: 24/7 LOGISTIC SOLUTIONS
          Domicilio Social: Bogotá, Colombia
          Nit: 900.641.692-1
          Dirección: Calle 114A #47A-21, Bogotá D.C
          Correo electrónico: info@24/7ls.co
          Teléfono: 7462065
      </p>
      <h5 class="vs-margin-top-small"> 6. DE LAS BASES DE DATOS</h5>
      <p>
          6.1 Como Responsable: La empresa hará el tratamiento de los datos personales en los términos y alcances de
          la autorización entregada por el titular de la información, de las siguientes bases:
          a) Bases de datos de colaboradores de la compañía: 24/7 LOGISTIC SOLUTIONS tratará los datos personales a través de la
          recopilación, almacenamiento, copia, entrega, actualización, ordenamiento, clasificación, transferencia, corrección,
          verificación, uso para fines estadísticos y utilización de todos los datos suministrados con el propósito de administrar
          correctamente la relación laboral por parte de La Empresa con los colaboradores de la compañía en cumplimiento
          de la obligaciones deorigen legal y contractual.
          b) Bases de datos de proveedores de la compañía: 24/7 LOGISTIC SOLUTIONS tratará los datos personales a través de la
          recopilación, almacenamiento, actualización, ordenamiento, clasificación, transferencia, corrección, verificación,
          uso para fines estadísticos y de selección, evaluación y ejecución del contrato a que haya lugar y para administrar
          correctamente la relación con los proveedores. 24/7 LOGISTIC SOLUTIONS recolectará de sus proveedores los datos personales de los
          empleados de éste, que sean necesarios, pertinentes y no excesivos, que por motivos de seguridad deba analizar y
          evaluar, atendiendo las características de los servicios que se contraten con el proveedor. Los derechos de empleados
          de los proveedores recolectados por 24/7 LOGISTIC SOLUTIONS, tendrá como única finalidad verificar la idoneidad moral y 
          competencia de los empleados; por tanto, una vez verificado este requisito, 24/7 LOGISTIC SOLUTIONS podrá devolver
          tal información al proveedor, salvo cuando fuere necesario preservar estos datos. 24/7 LOGISTIC SOLUTIONS, podrá compartir
          los datos de los contratistas con sus clientes actuales o potenciales, en desarrollo de sus obligaciones comerciales y/o
          contractuales en cumplimiento de lo establecido en esta política y conforme a la ley.
          c) Bases de datos de clientes: 24/7 LOGISTIC SOLUTIONS tratará los datos personales a través recopilación, almacenamiento,
          actualización, ordenamiento, clasificación, transferencia, corrección, verificación, uso para fines estadísticos, con
          el propósito de desarrollar el objeto social de la compañía y lo estipulado en los respectivos contratos y/o documentos
          comerciales suscritos entre las partes, así como de atención al cliente, mercadeo, procesamiento, investigación,
          capacitación, consolidación, organización, actualización, reporte, encuestas, atención, envío de información
relacionada con promociones, eventos, servicios, entre otros, para administrar correctamente la relación comercial
por parte de La Empresa con los clientes de la compañía.
      </p>
      <h5 class="vs-margin-top-small"> 7. DERECHOS DE LOS TITULARES</h5>
      <p>
          El titular de los datos personales tendrá los siguientes derechos:
          a) Conocer, actualizar y rectificar sus datos personales.
          b) Solicitar prueba de la autorización otorgada a La Empresa salvo cuando expresamente se exceptúe como
          requisito para el Tratamiento.
          c) Ser informado por La Empresa o por el Encargado del Tratamiento, previa solicitud, respecto del uso que le
          ha dado a sus datos personales.
          d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley
          y las demás normas que la modifiquen, adicionen o complementen.
          e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios,
          derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia
          de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en
          conductas contrarias a la Ley y a la Constitución.
          f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento.
          g) Y los demás derechos que se encuentren contenidos en la normatividad vigente respecto de la materia.
      </p>
      <h5 class="vs-margin-top-small"> 8. DE LOS DEBERES COMO RESPONSABLE DEL TRATAMIENTO DE DATOS:</h5>
      <p>8.1 Deberes como Responsables del Tratamiento: Los Responsables del Tratamiento deberán cumplir los
          siguientes deberes:
          a) Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
          b) Solicitar y conservar, copia de la respectiva autorización otorgada por el Titular.
        </p>
        <p>
            competencia de los empleados; por tanto, una vez verificado este requisito, 24/7 LOGISTIC SOLUTIONS podrá devolver
            tal información al proveedor, salvo cuando fuere necesario preservar estos datos. 24/7 LOGISTIC SOLUTIONS, podrá compartir
            los datos de los contratistas con sus clientes actuales o potenciales, en desarrollo de sus obligaciones comerciales y/o
            contractuales en cumplimiento de lo establecido en esta política y conforme a la ley.
            c) Bases de datos de clientes: 24/7 LOGISTIC SOLUTIONS tratará los datos personales a través recopilación, almacenamiento,
            actualización, ordenamiento, clasificación, transferencia, corrección, verificación, uso para fines estadísticos, con
            el propósito de desarrollar el objeto social de la compañía y lo estipulado en los respectivos contratos y/o documentos
            comerciales suscritos entre las partes, así como de atención al cliente, mercadeo, procesamiento, investigación,
            capacitación, consolidación, organización, actualización, reporte, encuestas, atención, envío de información
            relacionada con promociones, eventos, servicios, entre otros, para administrar correctamente la relación comercial
            por parte de La Empresa con los clientes de la compañía.
        </p>
        <h5 class="vs-margin-top-small"> 7. DERECHOS DE LOS TITULARES</h5>
        <p>
            El titular de los datos personales tendrá los siguientes derechos:
            a) Conocer, actualizar y rectificar sus datos personales.
            b) Solicitar prueba de la autorización otorgada a La Empresa salvo cuando expresamente se exceptúe como
            requisito para el Tratamiento.
            c) Ser informado por La Empresa o por el Encargado del Tratamiento, previa solicitud, respecto del uso que le
            ha dado a sus datos personales.
            d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley
            y las demás normas que la modifiquen, adicionen o complementen.
            e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios,
            derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia
            de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en
            conductas contrarias a la Ley y a la Constitución.
            f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento.
            g) Y los demás derechos que se encuentren contenidos en la normatividad vigente respecto de la materia.
        </p>
        <h5 class="vs-margin-top-small"> 8. DE LOS DEBERES COMO RESPONSABLE DEL TRATAMIENTO DE DATOS:</h5>
        <p>
            8.1 Deberes como Responsables del Tratamiento: Los Responsables del Tratamiento deberán cumplir los
            siguientes deberes:
            a) Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
            b) Solicitar y conservar, copia de la respectiva autorización otorgada por el Titular.
            c) Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud
            de la autorización otorgada.
            d) Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida,
            consulta, uso o acceso no autorizado o fraudulento.
            e) Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa, exacta,
            actualizada, comprobable y comprensible.
            f) Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades
            respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que
            la información suministrada a éste se mantenga actualizada.
            g) Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento.
            h) Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté
            previamente autorizado.
            i) Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad
            de la información del Titular.
            j) Tramitar las consultas y reclamos formulados en los términos señalados en la ley.
            k) Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte
            del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo.
            l) Informar a Solicitud del Titular sobre el uso dado a sus datos.
            m) Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad
            y existan riesgos en la administración de la información de los Titulares.
            n) Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
            o) Los demás previstos en la Ley.

        </p>
        <h5 class="vs-margin-top-small"> 9. PROCEDIMIENTOS</h5>
        <p>
            La Empresa, en cumplimiento de las disposiciones constitucionales y legales de protección de Datos Personales,
            pone en conocimiento de los interesados el siguiente procedimiento:
            9.1. CONSULTAS: Los titulares o sus causahabientes podrán consultar la información personal del Titular que
            repose en cualquier base de datos en poder de La Empresa. La Empresa deberá suministrar a estos toda la
            información contenida en el registro individual o que esté vinculada con la identificación del titular. Las consultas
            podrán formularse por escrito o vía correo electrónico a las siguientes direcciones:
        </p>
        <p class="vs-margin-top-xsmall">
            9.1. CONSULTAS: Los titulares o sus causahabientes podrán consultar la información personal del Titular que
            repose en cualquier base de datos en poder de La Empresa. La Empresa deberá suministrar a estos toda la
            información contenida en el registro individual o que esté vinculada con la identificación del titular. Las consultas
            podrán formularse por escrito o vía correo electrónico a las siguientes direcciones:
        </p>
        <p>
            La consulta será atendida en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo
            de la misma. Cuando no fuere posible atender la consulta dentro de dicho término, se informará al interesado,
            expresando los motivos de demora y señalando la fecha en que se atenderá su consulta, la cual, en ningún caso
            podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.
            9.2 RECLAMOS: El Titular o sus causahabientes que consideren que la información contenida en una base de
            datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento
            de cualquiera de los deberes de la Ley de Protección de Datos – Ley 1581 de 2012, podrán presentar un reclamo
            ante La Empresa, el cual, será tramitado bajo las siguientes reglas:
            a) El reclamo se formulará mediante solicitud dirigida a La Empresa, con la identificación del Titular, la descripción
            de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer.
            b) Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción
            del reclamo para que subsane las fallas.
            c) Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información
            requerida, se entenderá que ha desistido del reclamo.
            d) En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda
            en un término máximo de dos (2) días hábiles e informará de la situación al interesado.
            e) Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga “reclamo en trámite”
            y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta
            que el reclamo sea decidido.
            f) El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente
            a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al
            interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá
            superar los ocho (8) días hábiles siguientes al vencimiento del primer término. La solicitud de ejercicio de
            cualquiera de los derechos mencionados contendrá la siguiente información:
            a) Nombre del Titular del Dato Personal, y de sus representantes, de ser el caso.
            b) Petición concreta y precisa de información, actualización, rectificación o revocatoria del consentimiento y/o
            supresión del Dato. En cada caso la petición deberá estar razonablemente fundamentada para que la Compañía
            proceda como Responsable del tratamiento de la base de Datos a dar respuesta.
            c) Dirección física y/o electrónica para notificaciones.
            d) Documentos que soportan la solicitud conforme lo indicado en los numerales anteriores.
            e) Firma de la solicitud por parte del Titular del Dato Personal. Los reclamos podrán formularse por escrito o vía
            correo electrónico a las siguientes direcciones:
        </p>
        <h5 class="vs-margin-top-small"> 10. GENERALIDADES</h5>
        <p>
            10.1. Seguridad de la Información: La Empresa aplicará en el tratamiento de las bases de datos a su cargo,
            las mejores prácticas, el mayor esfuerzo y diligencia de cara a garantizar la seguridad y confidencialidad de los
            datos de acuerdo con lo establecido en la Ley y normas concordantes en la materia.
            10.2. Prevalencia de la Ley: La interpretación de las presentes políticas estará en todo momento subordinada
            al contenido de la Ley Colombiana, por lo cual, en caso de incompatibilidad o contradicción entre estas políticas
            y la Ley, predominará esta última.
            11. UTILIZACIÓN Y TRANSFERENCIA INTERNACIONAL DE DATOS PERSONALES E INFORMACIÓN PERSONAL:
            En cumplimiento de su objeto social 24/7 LOGISTIC SOLUTIONS, y atendiendo a la naturaleza de las relaciones permanentes
            u ocasionales que cualquier persona titular de datos personales pueda tener para con 24/7 LOGISTIC SOLUTIONS, ésta podrá
            realizar la transferencia y transmisión, incluso internacional, de la totalidad de los datos personales, siempre y
            cuando se cumplan los requerimientos legales aplicables; y en consecuencia los titulares con la aceptación de la
            presente política, autorizan expresamente para transferir y transmitir, incluso a nivel internacional, los datos
            personales. Los datos serán transferidos, para todas las relaciones que puedan establecerse con 24/7 LOGISTIC SOLUTIONS.
            Para la transferencia internacional de datos personales de los titulares, 24/7 LOGISTIC SOLUTIONS tomará las medidas
            necesarias para que los terceros conozcan y se comprometan a observar la presente política, bajo el entendido
            que la información personal que reciban, únicamente podrá ser utilizada para asuntos directamente relacionados
            con 24/7 LOGISTIC SOLUTIONS y solamente mientras ésta dure y no podrá ser usada o destinada para propósito o fin
            diferente. Para la transferencia internacional de datos personales se observará lo previsto en el artículo 26
            de la Ley 1581 de 2012. Las transmisiones internacionales de datos personales que efectúe 24/7 LOGISTIC SOLUTIONS,
            no requerirán ser informadas al titular ni contar con su consentimiento cuando medie un contrato de transmisión
            de datos personales de conformidad al artículo 25 del Decreto 1377 de 2013. 24/7 LOGISTIC SOLUTIONS, también podrá
            intercambiar información personal con autoridades gubernamentales o públicas de otro tipo (incluidas, entre
            otras autoridades judiciales o administrativas, autoridades fiscales y organismos de investigación penal, civil,
            administrativa, disciplinaria y fiscal), y terceros participantes en procedimientos legales civiles y sus contadores,
            auditores, abogados y otros asesores y representantes, porque es necesario o apropiado: (a) para cumplir con
            las leyes vigentes, incluidas las leyes distintas a las de su país de residencia; (b) para cumplir con procesos jurídicos;
            (c) para responder las solicitudes de las autoridades públicas y del gobierno, y para responder las solicitudes de
            las autoridades públicas y del gobierno distintas a las de su país de residencia; (d) para proteger nuestras operaciones;
            (e) para proteger nuestros derechos, privacidad, seguridad o propiedad, los suyos o los de terceros; y (f) obtener
            las indemnizaciones aplicables o limitar los daños y perjuicios que nos puedan afectar.
        </p>
        <p>
            .
            12. DISPOSICIONES FINALES
            12.1 PROHIBICIONES. En desarrollo de esta Política, se establecen las siguientes prohibiciones y sanciones como
            consecuencia de su incumplimiento:
            12.1.1 Se prohíbe el acceso, uso, gestión, cesión, comunicación, almacenamiento y cualquier otro Tratamientode Datos
            Personales de carácter sensible sin autorización del Titular del Dato personal y/o de La Empresa.
            El incumplimiento de esta prohibición por parte de los visitante, empleados y exempleados,
            proveedores, y/o clientes de La Empresa será considerado como falta grave, que podrá dar lugar a la
            terminación de la relación laboral, contractual, financiera, comercial según sea el caso. Lo anterior, sin
            perjuicio de las acciones legales adicionales a que haya lugar.
            12.1.2. La Empresa prohíbe la cesión, comunicación o circulación de Datos Personales, sin el
            consentimiento del Titular del Dato o sin autorización de La Empresa.
            13. VIGENCIA
            Las Políticas de Tratamiento de Información Personal de la 24/7 LOGISTIC SOLUTIONS estarán vigentes a partir del día 10
             de Junio de 2019.
            12.1.3. Modificaciones a las Políticas de Tratamiento de Datos Personales: 24/7 LOGISTIC SOLUTIONS se reserva
            el derecho de modificar en cualquier momento, de manera unilateral, sus políticas y procedimientos
            de tratamiento de datos personales en los términos y con las limitaciones previstas en la ley.
            Cualquier cambio será publicado y anunciado a los titulares de los mecanismos dispuestos por
            24/7 LOGISTIC SOLUTIONS. Además, se conservarán las versiones anteriores de la presente políticas de
            tratamiento de datos personales.
        </p>
        <p>
            Las bases de datos administradas por la 24/7 LOGISTIC SOLUTIONS se mantendrán indefinidamente, mientras se desarrolle
            su objeto, y mientras sea necesario para asegurar el cumplimiento de obligaciones de carácter legal,
            particularmente laboral y contable, pero los datos podrán ser eliminados en cualquier momento a solicitud de
            su titular, en tanto esta solicitud no contraríe una obligación legal de La Empresa o una obligación contenida
            en un contrato entre La Empresa y el Titular.
        </p>

    </div>
  </div>
</div>
