<div class="main-banner vs-background-color-vs">
  <div class="vs-container">
      <div class="row vs-text-align-center">
        <div class="col-sm-12 col-md-6 vs-text-align-center vs-text-align-left-md vs-display-inline">
          <h2 class="vs-font-main-title vs-text-align-left-md">Soluciones integrales a tu medida</h2>
          <h2 class="typing-element vs-font-main-title vs-text-align-left-md vs-display-inline vs-color-default"> </h2>
          <br>
          <button mat-raised-button [routerLink]="['/solicitar-servicio']" class="vs-text-uppercase vs-margin-bottom-large vs-margin-top-large vs-text-align-left-md" color="accent">
            Solicitar servicio
          </button>
          <br>
        </div>
        <div class="col-sm-12 col-md-6 banner-img">
          <img src="../../../../assets/img/banner-img.png" alt="">
        </div>
      </div>
  </div>
</div>
