<div class="main-banner vs-background-color-vs">
  <div class="vs-container">
      <div class="row">
        <div class="col-sm-12  col-md-6 vs-text-align-center vs-text-align-left-md">
          <h2 class="vs-font-main-title vs-text-align-left-md">Soluciones integrales a tu medidia</h2>
            <button mat-raised-button [routerLink]="['/solicitar-servicio']" class="vs-text-uppercase vs-text-align-left-md" color="accent">
              iniciar
            </button>
        </div>
        <div class="col-sm-12 col-md-6 banner-img">
          <img src="../../../../assets/img/truck.png" alt="">
        </div>
      </div>
  </div>
</div>
