<div class="card-request vs-border-decoration vs-section-widest vs-background-color-white vs-margin-bottom-small">
  <h1 class="vs-text-align-right vs-font-xsmall vs-color-grey vs-margin-remove">
      {{request.created_at | amLocale: 'es'  | amTimeAgo}}
  </h1>
    <div class="row">
      <div class="col col-md-3 vs-text-align-center">
        <img src="../../../../assets/img/servicios/{{request?.tipoDeServicio.nombre}}.png" alt="" />
          <div class="vs-margin-top-small vs-text-align-center">
            <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall vs-display-inline-block">
              Origen:
            </p>
            <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
              {{request?.origen | firstChartUppercase }}
            </p>
          </div>
          <div *ngIf="request?.destino" class="vs-text-align-center">
            <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall vs-display-inline-block">
              Destino:
            </p>
            <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
              {{request?.destino | firstChartUppercase }}
            </p>
          </div>
      </div>
      <div class="col col-md-9">
        <mat-list role="list">
          <h1 class="vs-font-large vs-margin-remove vs-color-default vs-text-500">
           {{request.usuario?.name | firstChartUppercase }} {{request.usuario?.lastName | firstChartUppercase }}
          </h1>
          <div class="vs-margin-top-small">
            <div>
              <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall vs-display-inline-block">
                Tipo de servicio:
              </p>
              <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
                {{request?.tipoDeServicio?.nombre | firstChartUppercase }}
              </p>
            </div>
            <div *ngIf="request?.tipoDeServicio.especificamente">
              <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall vs-display-inline-block">
                Especificamente:
              </p>
              <p class="vs-color-grey vs-text-300 vs-font-xsmall vs-display-inline-block">
                {{request?.tipoDeServicio?.especificamente | firstChartUppercase }}
              </p>
            </div>
              <div>
                <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall vs-display-inline-block">
                  Estado:
                </p>
                <p class="vs-color-vs vs-text-300 vs-font-xsmall vs-display-inline-block">
                  {{request.estado| firstChartUppercase }}
                </p>
              </div>
            <div class="vs-margin-top-xsmall">
              <p class="vs-font-xsmall vs-color-dark-grey vs-margin-right-xsmall">
                Mensaje:
              </p>
              <p class="vs-color-grey vs-text-300 vs-font-xsmall">
                {{request?.mensaje}}
              </p>
            </div>
          </div>

          <div class="vs-text-align-right">
            <button
              *ngIf="request.estado === 'recibido'"
              mat-raised-button [routerLink]="['/dashboard/admin/request/', request._id]"
              class="vs-text-uppercase vs-remove-shadow"
              color="primary"
            >
              Aceptar
            </button>

            <a *ngIf="request.estado === 'en proceso' " [routerLink]="['/dashboard/admin/request/', request._id]" class="vs-font-small vs-margin-right-xsmall vs-color-grey vs-cursor-pointer">
              Ver detalles
            </a>
          </div>
        </mat-list>
      </div>
    </div>
  </div>

