<div class="vs-container">
  <div class="row vs-margin-top-xlarge  vs-margin-bottom-xlarge">
   <div class="col s12 m5 vs-text-align-center vs-margin-bottom-large vs-margin-right-xlarge">
      <h1 class="vs-font-medium vs-color-vs vs-margin-top-xlarge">QUE ES 24/7</h1>
      <P class="vs-color-default">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
      </P>
   </div>
   <div class="col s12 m5 vs-margin-center">
     <div>
        <img class="vs-margin-bottom-medium vs-margin-left-xlarge-md" src="../../../../assets/img/seleccionar.png" alt="">
        <h1 class="vs-font-xsmall vs-margin-remove vs-text-align-center vs-color-default vs-text-semibold">
          SELECCIONA TU TIPO DE SERVICIO
        </h1>
     </div>
      <div class="vs-margin-top-large vs-float-right">
        <img class="vs-margin-bottom-medium" src="../../../../assets/img/seguimiento.png" alt="">
        <h1 class="vs-font-xsmall vs-margin-top-xsmall vs-margin-remove vs-text-align-center vs-color-default vs-text-semibold">
         HAZLE SEGUIMIENTO A TU SOLICITUD
        </h1>
      </div>
   </div>
  </div>
</div>
<div class="vs-background-color-light">
  <div class="row vs-margin-remove">
    <div class="col vs-content-img vs-text-align-center s12 m6">
      <h2 class="vs-font-main-title vs-color-whitel">Somos expertos en cargas</h2>
      <button mat-raised-button class="vs-text-uppercase vs-text-align-left-md" color="primary">
        Solicita tu servicio
      </button>
      <br/>
      <span class="vs-color-white vs-font-small">o</span>
      <br/>
      <button mat-raised-button class="vs-text-uppercase vs-text-align-left-md" color="accent">
        trabaja con nosotros
      </button>
    </div>
    <div class="col s12 m6">
    </div>
  </div>
</div>
