<div class="vs-container">
  <!--  QUE NOS HACE UNICOS SECCION -->
  <div class="row vs-margin-remove vs-display-flex vs-text-align-center">
   <div class="col col-sm-7 vs-margin-top-medium vs-margin-center">
      <h1 class="vs-font-medium vs-color-default vs-font-roboto">¿Que nos hace unicos?</h1>
      <p class="vs-color-grey vs-font-small vs-margin-top-small">
        Somos expertos en el diseño de soluciones logísticas
        integrales adaptadas a las necesidades de cada uno de
        nuestros clientes, impactando positivamente en las
        empresas y aumentando su rentabilidad.
      </p>
   </div>
  </div>
</div>
<!-- NUESTROS SERVICIOS-->
<div>
  <div class="vs-container">
  <div class="row vs-text-align-center vs-services-banner justify-content-between">
    <div class="col col-md-3 vs-margin-top-small">
      <div class="card">
        <img src="../../../../assets/img/camion-banner.png" alt="">
        <h1 class="vs-font-small vs-color-vs vs-font-roboto">Transporte de carga</h1>
        <p class="vs-font-xsmall vs-color-grey">
          Transporte de contenedores, Transporte de carga seca,
          Transporte refrigerado, y mas.
        </p>
      </div>
    </div>
    <div class="col col-md-3 vs-margin-top-small">
      <div class="card">
        <img src="../../../../assets/img/grua-banner.png" alt="">
        <h1 class="vs-font-small vs-color-vs vs-font-roboto">
          Alquiler de Gruas y otras maquinarias amarilla.
        </h1>
        <p class="vs-font-xsmall vs-color-grey">
          Grua PH, Grua Telescopica, Grua de Gancho, y mas.
        </p>
      </div>
    </div>
    <div class="col col-md-3 vs-margin-top-small">
      <div class="card">
        <img src="../../../../assets/img/montacarga-banner.png" alt="">
        <h1 class="vs-font-small vs-color-vs vs-font-roboto">Alquiler de montacarga</h1>
        <p class="vs-font-xsmall vs-color-grey">
          Dedendiendo de las capcidades de su carga le ajustaremos
          la montacarga ideal.
        </p>
      </div>
    </div>
    <div class="col col-md-3 vs-margin-top-small">
      <div class="card">
        <img src="../../../../assets/img/constructor.png" alt="">
        <h1 class="vs-font-small vs-color-vs vs-font-roboto">Operador de cargue y descargue</h1>
        <p class="vs-font-xsmall vs-color-grey">
          Operadores de grúa, operador de montacargas, aparejador,y mas
        </p>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- CONTENT TWO -->
<div class="vs-container vs-padding-top-zero vs-margin-top-medium">
  <div class="row vs-margin-remove">
    <div class="col col-sm-12 vs-content-img col-md-7">
    </div>
    <div class="col col-sm-12 col-md-5 vs-section-wide">
        <h1 class="vs-font-medium vs-color-default vs-font-roboto">
          Cómo lo hacemos
        </h1>
        <p class="vs-color-grey vs-font-small vs-margin-top-small">
            Contamos con un equipo humano calificado,
            atento a prestarle asesoría para el manejo
            ideal de su carga.
            <br/>
            <br/>
            enfocamos nuestros esfuerzos en operar
            cumpliendo las polìticas de seguridad, normas
            de tránsito y los reglamentos ambientales.
            <br/>
            <br/>
            Somos su aliado logístico no solo para el alquiler
            de este tipo de equipos, sino también para la
            movilización de los mismos.
        </p>
    </div>
  </div>
</div>

<div class="vs-container vs-padding-top-zero vs-margin-top-large">
    <h1 class="vs-font-medium vs-color-default vs-font-roboto vs-text-align-center">
      Cómo funciona
    </h1>
    <div class="vs-como-funciona row vs-margin-top-xsmall">
      <div>
        <div class="col col-md-3 vs-text-align-center">
          <img src="../../../../assets/img/operador.png" alt="">
        </div>
        <div class="col col-md-7">
          <p class="vs-color-grey vs-font-small vs-margin-top-small">
            Selecciona tu tipo de servicio y en minutos un operador se pondra en
            contacto con usted para darle un seguimiento a su solicitud
            <br/>
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="vs-container vs-text-align-center">
  <button mat-raised-button [routerLink]="['/solicitar-servicio']" class="vs-text-uppercase vs-margin-bottom-large vs-margin-top-large vs-text-align-left-md vs-btn-simple" color="primary">
    Solicitar servicio
  </button>
</div>
