<div class="vs-container">
  <div class="row">
   <div class="col s12 m6">
      <h1 class="vs-font-medium vs-color-vs">QUE ES 24/7</h1>
      <P class="vs-color-default">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
      </P>
   </div>
   <div class="col s12 m5 img-content">
      <img class="vs-margin-top-small vs-margin-left-medium" src="../../../../assets/img/seleccionar.png" alt="">
      <h1 class="vs-font-small vs-margin-left-medium vs-color-default">SELLECIONAR</h1>
      <div class="vs-float-right">
        <img  src="../../../../assets/img/seguimiento.png" alt="">
        <h1 class="vs-font-small vs-color-default">SEGUIMIENTO</h1>
      </div>
   </div>
  </div>
</div>
