<div class="vs-background-color-light">
  <div class="row vs-margin-remove vs-display-flex">
    <div class="col col-xs-10 col-md-5 col-lg-5 vs-margin-center vs-margin-top-small">
      <div class="vs-section vs-input-field col-md-12 vs-background-color-white">
        <h1 class="vs-section-title vs-color-vs vs-text-align-center">
          ACCEDER
        </h1>
        <form (ngSubmit)="login()" autocomplete="off" [formGroup]="credentials" >
          <span class="vs-field-label">Correo</span>
          <input formControlName="email" matInput>
          <span class="vs-field-label">Contraseña</span>
          <input type="password" formControlName="password" class="vs-margin-remove" matInput>
          <div class="vs-margin-top-xsmall">
              <a [routerLink]="['/forgot-password']" class="vs-color-grey vs-cursor-pointer">
                ¿Olvidaste tu contraseña?
              </a>
          </div>
          <button *ngIf="!isLoading; else spinner" class="vs-margin-top-xsmall vs-margin-top-small" type="submit" mat-flat-button color="primary">
              CONTINUAR
            </button>
        </form>

        

        <ng-template #spinner>
          <mat-spinner class="vs-margin-center"></mat-spinner>
        </ng-template>

        <hr class="vs-margin-top-small">
        <div>
        <p class="vs-color-grey">
          No tienes una cuenta?
        </p>
        <a [routerLink]="['/solicitar-servicio/todos']" class="vs-color-vs vs-cursor-pointer">
          Crea una solicitud y regístrate
        </a>
      </div>
      <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
        {{serverErrorMessages}}
      </div>
    </div>
  </div>
</div>
</div>
