<div class="vs-container">
  <div class="row">

    <!-- Profile header -->
    <div class="col col-md-4 vs-margin-top-xsmall">
      <div class="vs-background-color-white vs-section-wide vs-text-align-center">
        <div class="vs-text-align-center">
          <ngx-avatar *ngIf="userDetails?.role == 'User'" bgColor="#3e3e3e" fgColor="#f5f5f5" class="webkit-inline-box" size="90" name="Vickler Charles"></ngx-avatar>
          <ngx-avatar *ngIf="userDetails?.role == 'ADMIN'" src="assets/img/admin/{{userDetails.name}}.png"  bgColor="#3e3e3e" fgColor="#f5f5f5" class="webkit-inline-box" size="90"></ngx-avatar>
        </div>
        <h1 class="vs-font-medium vs-color-vs vs-margin-bottom-medium">
            {{userDetails?.name | firstChartUppercase }} {{userDetails?.lastName | firstChartUppercase }}
        </h1>
        <h1 class="vs-font-xsmall vs-color-dark-grey vs-margin-remove">
          Servicios en proceso
        </h1>
        <h1 *ngIf="userDetails?.role == 'User'" class="vs-font-large vs-color-default vs-font-super-large vs-margin-top-xsmall">
          {{requestRecividos.length}}
        </h1>
        <h1 *ngIf="userDetails?.role == 'ADMIN'" class="vs-font-large vs-color-default vs-font-super-large vs-margin-top-xsmall">
          {{AdminrequestOnProgress.length}}
        </h1>
        <div>
          <h1 class="vs-font-xsmall vs-color-dark-grey vs-margin-remove">
            Servicios completados:
          </h1>
          <h1 *ngIf="userDetails?.role == 'User'" class="vs-font-large vs-color-default  vs-margin-top-xsmall">
            {{requestCompleted?.length}}
          </h1>
          <h1 *ngIf="userDetails?.role == 'ADMIN'" class="vs-font-large vs-color-default  vs-margin-top-xsmall">
            {{requestCompleted?.length}}
          </h1>
        </div>
        <div class="vs-margin-top-medium">
          <h1 class="vs-font-xsmall vs-color-dark-grey vs-margin-remove">
            Registrado desde:
          </h1>
          <h1 class="vs-font-xsmall vs-text-300  vs-color-grey vs-margin-top-xsmall">
            {{userDetails?.created_at | amLocale:'es'  | amDateFormat: 'YYYY-MM-DD'}}
          </h1>
        </div>

      </div>
    </div>

    <!-- Profile content-->
    <div class="col col-md-8 vs-margin-top-xsmall">
      <div class="vs-background-color-white vs-section-wide">
        <form [formGroup]="user" class="row" *ngIf="isEditingPerfil; else editProfile">
           <h1 class="vs-font-xsmall vs-color-vs  vs-margin-remove col-md-12 vs-margin-bottom-small">
            EDITAR PERFIL
          </h1>
          <div class="vs-input-field col-md-6">
            <span class="vs-field-label">Nombre</span>
            <input formControlName="nombre" matInput>
            <span *ngIf="submitted && user.controls['nombre'].errors?.required" class="invalid-feedback">
              Este campo es requerido.
            </span>
            <span *ngIf="submitted && user.controls['nombre'].errors?.pattern" class="invalid-feedback">
              Introduce un nombre valido.
            </span>
          </div>
          <div class="vs-input-field col-md-6">
            <span class="vs-field-label">Apellido</span>
            <input formControlName="apellido" matInput>
            <span *ngIf="submitted && user.controls['apellido'].errors?.required" class="invalid-feedback">
              Este campo es requerido.
            </span>
            <span *ngIf="submitted && user.controls['apellido'].errors?.pattern" class="invalid-feedback">
              Introduce un apellido valido.
            </span>
          </div>
          <div class="col-sm-12"></div>
          <div class="vs-input-field col-md-6">
            <span class="vs-field-label">Telefono</span>
            <input formControlName="telefono" matInput>
            <span *ngIf="submitted && user.controls['telefono'].errors?.required" class="invalid-feedback">
                Este campo es requerido.
              </span>
              <span *ngIf="submitted && user.controls['telefono'].errors?.pattern" class="invalid-feedback">
                Introduce un telefono valido.
              </span>
              <span *ngIf="submitted && user.controls['telefono'].errors?.maxlength" class="invalid-feedback">
                Maximo limite de carateres 11.
              </span>
          </div>
          <div class="vs-input-field col-md-4">
            <span class="vs-field-label">Ciudad</span>
            <input formControlName="ciudad" matInput>
            <span *ngIf="submitted && user.controls['ciudad'].errors?.required" class="invalid-feedback">
                Este campo es requerido.
              </span>
              <span *ngIf="submitted && user.controls['ciudad'].errors?.pattern" class="invalid-feedback">
                Introduce una ciudad valido.
              </span>
          </div>
          <div class="col-sm-12"></div>
          <div class="vs-input-field col-md-6">
            <span class="vs-field-label">Correo</span>
            <input formControlName="correo" matInput>
            <span *ngIf="submitted && user.controls['correo'].errors?.required" class="invalid-feedback">
              Este campo es requerido.
            </span>
            <span *ngIf="submitted && user.controls['correo'].errors?.pattern" class="invalid-feedback">
              Introduce un correo valido.
            </span>
          </div>
          <div class="col-sm-12"></div>
          <div class="vs-input-field col-md-6">
            <span class="vs-field-label">Contraseña</span>
            <input formControlName="contrasena" value="fakepassword" type="password" matInput>
          </div>
          <div class="col-sm-12"></div>
          <div class="col-sm-12 vs-margin-top-small">
            <button mat-raised-button (click)="updatedUser()" class="vs-text-uppercase vs-remove-shadow" color="primary">
              Guardar cambios
            </button>
            <button mat-button (click)="toggleEditPerfil()" class="vs-text-uppercase vs-color-grey">
              Cancelar
            </button>
          </div>
        </form>
        <ng-template #editProfile>
          <h1 class="vs-font-xsmall vs-color-vs vs-margin-remove vs-margin-bottom-medium">
            MY PERFIL
          </h1>
          <div>
            <h1 class="vs-color-dark-grey vs-font-xsmall  vs-display-inline vs-margin-right-small">
              Nombre:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
              {{userDetails?.name | firstChartUppercase }}
            </h1>
          </div>
          <div class="vs-margin-top-small">
            <h1 class="vs-color-dark-grey vs-font-xsmall vs-display-inline vs-margin-right-small">
              Apellido:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
              {{userDetails?.lastName | firstChartUppercase }}
            </h1>
          </div>
          <div class="vs-margin-top-small">
            <h1 class="vs-color-dark-grey vs-font-xsmall vs-display-inline vs-margin-right-small">
              Telefono:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
              {{userDetails?.cellPhone}}
            </h1>
          </div>
          <div class="vs-margin-top-small">
            <h1 class="vs-color-dark-grey vs-font-xsmall vs-display-inline vs-margin-right-small">
              Ciudad:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
                {{userDetails?.city | firstChartUppercase }}
            </h1>
          </div>
          <div class="vs-margin-top-small">
            <h1 class="vs-color-dark-grey vs-font-xsmall vs-display-inline vs-margin-right-small">
              Correo:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
              {{userDetails?.email}}
            </h1>
          </div>
          <div class="vs-margin-top-small">
            <h1 class="vs-color-dark-grey vs-font-xsmall vs-display-inline vs-margin-right-small">
              Contraseña:
            </h1>
            <h1 class="vs-color-grey vs-font-xsmall vs-text-300 vs-display-inline">
              **********
            </h1>
          </div>
          <div class="vs-margin-top-medium">
            <button mat-raised-button (click)="toggleEditPerfil()" class="vs-text-uppercase vs-remove-shadow "  color="primary">
              EDITAR PERFIL
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
