.link {
  color: #a2a2a2 !important;
}

.color {
  color: red !important;
}

.accede-aqui-link {
  color: #a94442 !important;
}

.import-load-message{
  font-size: 20px !important;
}

mat-form-field{
  font-size: 15px;
}


 ::ng-deep.mat-form-field-flex {
  /*change color of underline when focused*/
  background-color: #f5f5f5;
 }

.checkboxConfirmation{
    color:gray;
    font-size: small;
    text-decoration: none;

  }

  input[type=checkbox], input[type=radio] {
    margin: 4px 5px 0;
    margin-top: 1px\9;
    line-height: normal;
}

.mat-error{
  font-size: 13px;
  color: #f44336;
}