<div class="vs-background-color-light">
    <div class="vs-container">
    <div class="row vs-display-flex">
      <div
        class="col col-sm-12 vs-margin-top-small vs-margin-center"
      >
        <h1 *ngIf="isCreatingRequest" [routerLink]="['/dashboard']" class="vs-font-xsmall vs-color-dark-grey remove-focus vs-cursor-pointer vs-color-vs">
          <i class="fas fa-arrow-left vs-color-vs fa-sm vs-margin-right-xsmall"></i>
          REGRESAR AL DASHBOARD
        </h1>
        <div class="vs-section vs-background-color-white">
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <!-- first stepper -->
            <mat-step>
              <h1 class="vs-section-title vs-color-vs vs-text-align-center">
                SELECCIONA TU TIPO DE SERVICIO
              </h1>
              <p class="vs-text-align-center vs-color-grey vs-margin-bottom-medium">
                Recibimos tu solicitud las 24h
              </p>
              <form [formGroup]="request" autocomplete="off">
                <div formGroupName="tipoDeServicio" class="vs-input-field row vs-text-align-center">
                  <mat-radio-group formControlName="nombre" class="radio-group">
                    <mat-radio-button (change)="radioChange($event)" class="col-sm-12 col-md-4 radio-button vs-margin-bottom-small" [routerLink]="['/solicitar-servicio/transporte-de-carga']" value="transporte de carga">
                      <img src="../../../assets/img/servicios/transporte de carga.png" alt="">
                      <h1 class="vs-font-small vs-color-default vs-text-align-center">
                        Transporte de carga
                      </h1>
                    </mat-radio-button>
                    <mat-radio-button (change)="radioChange($event)" class="col-sm-12 col-md-4 vs-margin-bottom-small" [routerLink]="['/solicitar-servicio/alquiler-de-montacarga']" value="alquiler de montacarga">
                      <img src="../../../assets/img/servicios/alquiler de montacarga.png" alt="">
                      <h1 class="vs-font-small vs-color-default vs-text-align-center">
                        Alquiler de montacarga
                      </h1>
                    </mat-radio-button>
                    <mat-radio-button (change)="radioChange($event)" class="col-sm-12 col-md-4 vs-margin-bottom-small" [routerLink]="['/solicitar-servicio/alquiler-de-grúa']" value="alquiler de grúa">
                      <img src="../../../assets/img/servicios/alquiler de grua.png" alt="">
                      <h1 class="vs-font-small vs-color-default vs-text-align-center">
                        Alquiler de grúa
                      </h1>
                    </mat-radio-button>
                    <mat-radio-button (change)="radioChange($event)" class="col-sm-12 col-md-4 vs-margin-bottom-small" [routerLink]="['/solicitar-servicio/operario-de-cargue-y-descargue']" value="operario de cargue y descargue">
                      <img src="../../../assets/img/servicios/operario de cargue y descargue.png" alt="">
                      <h1 class="vs-font-small vs-color-default vs-text-align-center">
                        Operario de cargue y descargue
                      </h1>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="vs-input-field vs-margin-top-medium col-sm-12 vs-text-align-right">
                  <button mat-flat-button [disabled]="!request?.get('tipoDeServicio').valid" color="primary" matStepperNext>
                    CONTINUAR
                  </button>
                </div>
              </form>
            </mat-step>
  
             <!-- second step -->
            <mat-step>
              <h1 class="vs-section-title vs-color-vs vs-text-align-center">
                ¿{{ request.value.tipoDeServicio.nombre | uppercase }}? ¡LISTO!
              </h1>
              <p class="vs-text-align-center vs-color-grey">
                ¡LLena el siguiente formulario y te proveeremos un {{request.value.tipoDeServicio.nombre}} en minutos!
              </p>
              <p *ngIf="request.value.tipoDeServicio.nombre == 'transporte de carga'"  class="vs-text-align-center vs-color-grey import-load-message">
                (Peso mínimo de carga 2 toneladas)
              </p>
              <form [formGroup]="request" autocomplete="off" class="row" style="margin-top: 40px;">
                <!-- Tipo de Servico-->
                <div class="col-md-5">  
                  <img src="{{selectedImgTypeService}}" width="100%" alt="">
                </div>
                <div class="col-md-7">
                    <div class="hide-on-desktop">
                      <br>
                      <br>
                    </div>
                <ng-container formGroupName="tipoDeServicio">
                  <ng-container *ngIf="request.value.tipoDeServicio.nombre == 'transporte de carga'">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Tipo de {{request.value.tipoDeServicio.nombre}}</mat-label>
                      <mat-select formControlName="especificamente" name="especificamente">
                        <mat-option *ngFor="let transport of freightForwarding" [value]="transport.id">
                          {{transport.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="request.get('tipoDeServicio').get('especificamente').invalid">{{getErrorMessage1("especificamente")}}</mat-error>
                    </mat-form-field>
                  </ng-container>
  
                  <ng-container *ngIf="request.value.tipoDeServicio.nombre == 'alquiler de grúa'">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Tipo de grúa</mat-label>
                      <mat-select formControlName="especificamente" name="especificamente">
                        <mat-option *ngFor="let transport of craneRental" [value]="transport.id">
                          {{transport.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="request.get('tipoDeServicio').get('especificamente').invalid">{{getErrorMessage1("especificamente")}}</mat-error>
                    </mat-form-field>
                  </ng-container>

                  <ng-container *ngIf="request.value.tipoDeServicio.nombre == 'alquiler de grúa'">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Seleccione el peso aproximado de su carga </mat-label>
                      <mat-select formControlName="especificamente2" name="especificamente2">
                        <mat-option *ngFor="let transport of forkliftRental" [value]="transport.name">
                          {{transport.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="request.get('tipoDeServicio').get('especificamente2').invalid">{{getErrorMessage1("especificamente2")}}</mat-error>
                    </mat-form-field>
                  </ng-container>
  
                  <ng-container *ngIf="request.value.tipoDeServicio.nombre == 'alquiler de montacarga'">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Seleccione el peso aproximado de su carga</mat-label>
                      <mat-select formControlName="especificamente" name="especificamente">
                        <mat-option *ngFor="let transport of forkliftRental" [value]="transport.name">
                          {{transport.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="request.get('tipoDeServicio').get('especificamente').invalid">{{getErrorMessage1("especificamente")}}</mat-error>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
                <div class="col-md-12"></div>
  
                <!-- Origen -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>{{request.value.tipoDeServicio.nombre == 'transporte de carga' ? 'Origen' : 'Ciudad donde requiere su servicio'}}</mat-label>
                      <input matInput placeholder="Ej: Bogotá" formControlName="origen">
                    <mat-error *ngIf="request.get('origen').invalid">{{getErrorMessage("origen")}}</mat-error>
                  </mat-form-field>
                <!-- Destino -->
                <ng-container *ngIf="request.value.tipoDeServicio.nombre == 'transporte de carga'" >
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Destino</mat-label>
                      <input matInput placeholder="Ej: Manizales" formControlName="destino">
                    <mat-error *ngIf="request.get('destino').invalid">{{getErrorMessage("destino")}}</mat-error>
                  </mat-form-field>
                </ng-container>
                <div class="col-md-12"></div>
  
                <!-- Tipo de Persona-->
                <!-- <ng-container formGroupName="cliente">
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Tipo de cliente</mat-label>
                    <mat-select formControlName="tipo">
                      <mat-option *ngFor="let client of customerType" [value]="client.id">
                        {{client.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="request.get('cliente').get('tipo').invalid">{{getErrorMessage2("tipo")}}</mat-error>
                  </mat-form-field>
                </ng-container> -->
  
                <!-- Cedula or Nit-->
                <ng-container formGroupName="cliente">
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Cédula o nit</mat-label>
                      <input formControlName="documento" matInput (ngModelChange)="calcular($event)">
                    <mat-error *ngIf="request.get('cliente').get('documento').invalid">{{getErrorMessage2("documento")}}</mat-error>
                  </mat-form-field>
                </ng-container>

                <div formGroupName="cliente" hidden>
                  <input matInput  type="text" formControlName="nombreEmpresaVerificacion" [(ngModel)]="enterprise">
                </div>
                <!-- Campos de tipo empresa  (Digito de verificacion, comparacion con el verdadero)-->
                <div formGroupName="cliente" hidden>
                  <input matInput  type="number" formControlName="digito2" [(ngModel)]="digito">
                </div>
                <!-- digito de verificacion, empresa-->
                <ng-container formGroupName="cliente">
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Dígito {{textCheck}} (0 - 9)</mat-label>
                      <input matInput formControlName="digitoVerificacion">
                    <mat-error *ngIf="request.get('cliente').get('digitoVerificacion').invalid">{{getErrorMessage21("digitoVerificacion")}}</mat-error>
                  </mat-form-field>
                </ng-container>

                <!-- Campos de tipo empresa  (nombre de la empresa)-->
                <ng-container formGroupName="cliente" *ngIf="enterprise">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Nombre Empresa</mat-label>
                        <input matInput formControlName="nombreEmpresa">
                      <mat-error *ngIf="request.get('cliente').get('nombreEmpresa').invalid">{{getErrorMessage21("nombreEmpresa")}}</mat-error>
                    </mat-form-field>
                </ng-container>

                <!-- Mensaje-->
                <mat-form-field appearance="outline" class="col-md-12 col-sm-12">
                    <mat-label>Mensaje acerca tu solicitud</mat-label>
                      <textarea formControlName="mensaje" matInput></textarea>
                    <mat-error *ngIf="request.get('mensaje').invalid">{{getErrorMessage("mensaje")}}</mat-error>
                  </mat-form-field>
                  <!-- Confirmacion -->
                  <div class="col-lg-12 form-check" *ngIf="request.value.tipoDeServicio.nombre == 'transporte de carga'" >
                    <div style="display: inline-flex;">
                    <input type="checkbox" class="form-check-input" required formControlName="confirmacion" >
                      <label class="form-check-label checkboxConfirmation"> Confirmo que el peso de la carga a transportar es mayor o igual a dos toneladas</label>
                    </div>
                      <p class="mat-error" *ngIf="request.get('confirmacion').value === false ">Este campo es requerido</p>
                  </div>
                <!-- Botones -->
                <div class="vs-input-field col-sm-12 vs-text-align-right vs-margin-top-medium">
                  <button [routerLink]="['/solicitar-servicio/todos']" class="vs-color-grey" color="accent" mat-button matStepperPrevious>REGRESAR</button>
                  <ng-container *ngIf="!dataSession">
                      <button mat-flat-button *ngIf="!isCreatingRequest" (click)="nextStep(stepper)" color="primary">CONTINUAR</button>
                  </ng-container>
                  <ng-container *ngIf="dataSession">
                    <button mat-flat-button *ngIf="!isCreatingRequest2; else spinner"  (click)="autoCompleteDataClient()" color="primary">CONTINUAR</button>
                    <ng-template #spinner>
                        <mat-spinner class="vs-margin-center">
                        </mat-spinner>
                      </ng-template>
                  </ng-container>
                  <div *ngIf="isCreatingRequest" >
                    <button mat-flat-button *ngIf="!isLoading; else spinner" (click)="nextCreateRequest()" color="primary">CREAR SOLICITUD</button>
                    <ng-template #spinner>
                      <mat-spinner class="vs-margin-center">
                      </mat-spinner>
                    </ng-template>
                  </div>
                </div>
              </div>
              </form>
            </mat-step>
  
            <!-- third step -->
            <mat-step *ngIf="!isCreatingRequest && !dataSession">
              <h1 class="vs-section-title vs-color-vs vs-text-align-center">
                BIEN, YA ESTAMOS CASI LISTOS
              </h1>
              <div *ngIf="!isRegistered" class="vs-text-align-center vs-color-grey vs-margin-bottom-large">
                <p > Para darle seguimiento a tu solicitud
                   
                </p>
                <p>Regístrate o</p><p><a (click)="toggleForm()" class="vs-color-vs vs-cursor-pointer"> Accede Aquí </a></p>
              </div>
              <div *ngIf="isRegistered" class="vs-text-align-center vs-color-grey vs-margin-bottom-large">
                  <p >Para darle seguimiento a tu solicitud</p>
                    <p>Accede o</p>
                    <p><a (click)="toggleForm()" class="vs-color-vs vs-cursor-pointer"> Regístrate Aquí </a></p>
              </div>
              
              <div *ngIf="!isRegistered ; else login">
              <form autocomplete="off" [formGroup]="user" class="row">
                <div class="row">
                  <!-- nombre cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre">
                    <mat-error *ngIf="user.get('nombre').invalid">{{getErrorMessage3("nombre")}}</mat-error>
                  </mat-form-field>
                  <!-- apellido cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Apellido</mat-label>
                      <input matInput formControlName="apellido">
                    <mat-error *ngIf="user.get('apellido').invalid">{{getErrorMessage3("apellido")}}</mat-error>
                  </mat-form-field>
                  <div class="col-sm-12"></div>
                  <!-- telefono cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Teléfono</mat-label>
                      <input matInput formControlName="telefono">
                    <mat-error *ngIf="user.get('telefono').invalid">{{getErrorMessage3("telefono")}}</mat-error>
                  </mat-form-field>
                  <!-- celular cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Celular</mat-label>
                      <input matInput formControlName="celular">
                    <mat-error *ngIf="user.get('celular').invalid">{{getErrorMessage3("celular")}}</mat-error>
                  </mat-form-field>
                  <!-- ciudad cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Ciudad</mat-label>
                      <input matInput formControlName="ciudad">
                    <mat-error *ngIf="user.get('ciudad').invalid">{{getErrorMessage3("ciudad")}}</mat-error>
                  </mat-form-field>
                  <!-- correo cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Correo</mat-label>
                      <input matInput formControlName="correo">
                    <mat-error *ngIf="user.get('correo').invalid">{{getErrorMessage3("correo")}}</mat-error>
                  </mat-form-field>
                  <!-- contraseña cliente -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                    <mat-label>Contraseña</mat-label>
                      <input matInput formControlName="contrasena" type="password">
                    <mat-error *ngIf="user.get('contrasena').invalid">{{getErrorMessage3("contrasena")}}</mat-error>
                  </mat-form-field>
                  <!-- confirmar conraseña -->
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Confirmar contraseña</mat-label>
                        <input matInput formControlName="contrasenaConfirmada" type="password">
                      <mat-error *ngIf="user.get('contrasenaConfirmada').invalid">{{getErrorMessage3("contrasenaConfirmada")}}</mat-error>
                    </mat-form-field>
                  <!-- autorizacion -->
                  <div class="col-lg-12 form-check">
                    <input type="checkbox" class="form-check-input" required formControlName="autorizo">
                    <a href="https://vs-ui.charlesvikler.now.sh/autorizacion" target="_blank"> <label class="form-check-label" for="exampleCheck1">Autorizo el tratamiento de mis datos personales</label></a>
                    <p class="mat-error" *ngIf="user.get('autorizo').value === false ">Este campo es requerido</p>
                    <!-- <mat-error *ngIf="user.get('autorizo').invalid">{{getErrorMessage3("autorizo")}}</mat-error> -->
                  </div>
  
                        <div class="col-sm-12">
                          <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
                            {{serverErrorMessages}}.
                            <span *ngIf="serverErrorMessages === 'ya existe un usuario registrado'">
                             <a (click)="toggleForm()" class="vs-cursor-pointer accede-aqui-link"> Accede Aquí </a> 
                            </span>
                          </div>
                        </div>
                    </div>
              </form>
              

              <div class="vs-input-field col-sm-12 vs-text-align-right vs-margin-top-medium">
                  <button class="vs-color-grey" color="accent" mat-button matStepperPrevious>REGRESAR</button>
                  <button *ngIf="!isLoading; else spinner" [disabled]='!user.valid' mat-flat-button color="primary" (click)="register()" matStepperNext>
                    CONTINUAR
                  </button>
                  <ng-template #spinner>
                    <mat-spinner class="vs-margin-center">
                    </mat-spinner>
                  </ng-template>
                </div>
              </div>
  
              <ng-template #login class="row">
                <form autocomplete="off" [formGroup]="credentials">
                    <div class="col-md-3"></div>
                  <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Correo</mat-label>
                        <input matInput formControlName="email">
                      <mat-error *ngIf="credentials.get('email').invalid">{{getErrorMessage0("email")}}</mat-error>
                    </mat-form-field>
                  <div class="col-md-12"></div>
                  <div class="col-md-3"></div>
                  

                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                      <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" type="password">
                      <mat-error *ngIf="credentials.get('password').invalid">{{getErrorMessage0("password")}}</mat-error>
                    </mat-form-field>

                    <div class="col-md-12"></div>
                  <div class="col-md-3"></div>
                    <div class="vs-margin-top-xsmall" class="col-md-6 col-sm-12">
                        <a [routerLink]="['/forgot-password']" class="vs-color-grey vs-cursor-pointer">
                          ¿Olvidaste tu contraseña?
                       </a>
              </div>
                  <div class="col-md-12"></div>
                  <div class="col-md-6">
                    <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
                      {{serverErrorMessages}}
                    </div>
                  </div>
                </form>

                <div class="vs-input-field col-sm-12 vs-text-align-right vs-margin-top-medium">
                    <button class="vs-color-grey" color="accent" mat-button matStepperPrevious>REGRESAR</button>
                    <button *ngIf="!isLoading; else spinner" [disabled]='!credentials.valid' mat-flat-button color="primary" (click)="register()" matStepperNext>
                      CONTINUAR
                    </button>
                    <ng-template #spinner>
                      <mat-spinner class="vs-margin-center">
                      </mat-spinner>
                    </ng-template>
                  </div>
              </ng-template>
  
           </mat-step>
         </mat-horizontal-stepper>
        </div>
      </div>
      <iframe #zohoIframe width="100%" height="50px" class="hide"></iframe>
    </div>
  </div>
  </div>
  