<div class="vs-background-color-vs">
  <div class="vs-container header">
		<img class="main-logo hide-on-mobile" src="../../../../assets/img/main-logo.png" alt="">
		<img class="main-logo-mobile hide-on-desktop" src="../../../../assets/img/logo-mobile.png" alt="">
		<div class="vs-color-default header-menu">
			<a class="vs-margin-right-small acceder-btn vs-font-small vs-cursor-pointer vs-color-default vs-text-extrabold">
				ACCEDER
			</a>
			<a class="vs-color-default hide-on-mobile  vs-cursor-pointer vs-font-small vs-text-extrabold">
				TRABAJA CON NOSOTROS
		  </a>
		</div>
  </div>
</div>
