/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed: 400,500,600,800');

@import url('https://fonts.googleapis.com/css?family=Heebo|Nunito+Sans|Open+Sans+Condensed:400,500,600,700,800');


html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #f5f5f5;
  position: relative !important;
}

.icon-img {
  fill: red !important;
}

.vs-about-us {
    padding-top: 20px;
    padding-bottom: 20px;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.vs-box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

p {
    font-size: 14px !important;
    margin: 0px !important;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
  }

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

body {
    margin: 0;
}
.vs-section-title {
    font-size: 20px;
}

.remove-focus:focus {
    outline: 0;
}

.login-signup {
    width: 100%;
}

/*FORM*/
.vs-input-field input, select {
    background: #f5f5f5!important;
    border-radius: 5px !important;
    color: #717a8a !important;
    font-size: 16px !important;
    border: 2px solid #ebeef1 !important;
    padding: 17px 28px;
    width: 100%;
}

.vs-input-field .invalid-feedback {
    color: red !important;
}

.vs-input-field .txt-a {
    background: #f5f5f5!important;
    border-radius: 5px !important;
    color: #717a8a !important;
    font-size: 16px !important;
    border: 2px solid #ebeef1 !important;
    padding: 17px 28px;
    width: 100%;
}

.vs-input-field .txt-a:focus {
    outline: 0px !important;
}


.radio-group img {
    width: 190px;
    height: 130px;
}

/* .radio-group .radio-button {
    border-bottom: 3px solid #FFD15C;
} */

.vs-input-field input:checked {
    color: #0DFF92 !important;
  }


.vs-input-field input, select {
    height: 60px;
    margin-bottom: 15px;
    margin-top: 5px !important;
}

.vs-input-field select {
    height: 60px !important;
}

.vs-field-label {
    color: #717a8a !important;
}

.vs-input-field input:focus {
    outline: 0px;
    background-color: none;
    border-bottom: 0px solid #f3f6f9 !important;
   -webkit-box-shadow: 0 0px 0 0 #f3f6f9 ;
    box-shadow: 0 0px 0 0 #f3f6f9  !important;
}

.vs-input-field select:focus {
    outline: 0px;
    background-color: none;
    border-bottom: 0px solid #f3f6f9 !important;
   -webkit-box-shadow: 0 0px 0 0 #f3f6f9 ;
    box-shadow: 0 0px 0 0 #f3f6f9  !important;
}



.typed-cursor {
    color:white !important;
    font-size: 40px;
}

/*FLEX-BOX*/
.vs-display-flex {
    display:flex !important;
}

.vs-display-inline {
    display: inline !important;
}
/*HEADER MENU*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header-menu {
    display: flex;
    justify-content: space-around;
 }

 .header-menu a:hover {
    text-decoration: underline;
 }

/*DISPLAY*/
.vs-inline-block {
  display: inline-block !important;
}

.header div {
    align-items: center;
}

.main-banner h2 {
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.banner-img {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}

.banner-img img {
    align-self: center;
}

.main-banner button {
    text-align: center;
}

.main-banner img{
    max-width: 200px;
    padding-bottom: 20px !important;
}

/*FLOAT*/
.vs-float-right {
    float: right !important;
}

.img-content img {
    max-width: 130px !important;
}

/*FONT-SIZE*/
.vs-font-small {
    font-size: 16px !important;
}

.vs-font-xsmall {
    font-size: 13px !important;
}

.vs-font-main-title {
   font-size: 35px !important;
   color: #f5f5f5;
   font-family: 'Roboto Condensed', sans-serif;
}

/*FONT FAMIY*/
.vs-font-open-sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*FONT SIZE*/
.vs-font-medium {
	font-size: 25px !important;
}

.vs-font-large {
	font-size: 20px !important;
}

/*TEXT TRANSFORM*/
.vs-text-uppercase {
	text-transform: uppercase !important;
}

/*Text ALIGMENT*/
.vs-text-align-center {
    text-align: center;
}

.vs-text-align-right {
    text-align: right !important;
}


.vs-text-align-left {
    text-align: left;
}

/*MARGIN*/
.vs-margin-remove {
	margin: 0px !important;
}

.vs-margin-center {
	margin: 0 auto !important;
}

.vs-margin-small {
	margin: 20px
}

.vs-margin-medium {
	margin: 30px
}

.vs-margin-large {
	margin: 40px
}

.vs-margin-top-zero {
  margin-top: 0px !important;
}

.vs-margin-top-xsmall {
	margin-top: 5px !important;
}

.vs-margin-top-small {
	margin-top: 20px !important;
}

.vs-margin-top-medium {
	margin-top: 30px !important;
}

.vs-margin-top-large {
	margin-top: 40px !important;
}

.vs-margin-top-xlarge {
	margin-top: 60px !important;
}

.vs-margin-right-xsmall {
	margin-right: 5px !important;
}

.vs-margin-right-small {
	margin-right: 20px !important;
}

.vs-margin-right-medium {
	margin-right: 30px !important;
}

.vs-margin-right-large {
	margin-right: 40px !important;
}

.vs-margin-right-xlarge {
	margin-right: 60px !important;
}

.vs-margin-bottom-xsmall {
	margin-bottom: 5px !important;
}

.vs-margin-bottom-small {
	margin-bottom: 20px !important;
}

.vs-margin-bottom-medium {
	margin-bottom: 30px !important;
}

.vs-margin-bottom-large {
	margin-bottom: 40px !important;
}

.vs-margin-bottom-xlarge {
	margin-bottom: 60px !important;
}

.vs-margin-bottom-zero {
	margin-bottom: 0px !important;
}

.vs-margin-left-xsmall {
	margin-left: 5px !important;
}

.vs-margin-left-small {
	margin-left: 20px !important;
}

.vs-margin-left-medium {
	margin-left: 30px !important;
}

.vs-margin-left-large {
	margin-left: 40px !important;
}

.vs-margin-left-zero {
	margin-left: 0px !important;
}

/*PADDING*/

.vs-padding-top-zero {
  padding-top: 0px !important;
}

.vs-padding-bottom-zero {
  padding-bottom: 0px !important;
}

.vs-padding-remove {
	padding: 0px !important;
}

.vs-padding-small {
	padding: 20px
}

.vs-padding-small {
	padding: 20px
}

.vs-padding-medium {
	padding: 30px
}

.vs-padding-large {
	padding: 40px
}

.vs-padding-xlarge {
	padding: 60px
}

.vs-padding-top-xsmall {
	padding-top: 10px !important;
}

.vs-padding-top-small {
	padding-top: 20px !important;
}

.vs-padding-top-medium {
	padding-top: 30px !important;
}

.vs-padding-top-large {
	padding-top: 40px !important;
}

.vs-padding-top-xlarge {
	padding-top: 60px !important;
}

.vs-padding-right-xsmall {
	padding-right: 10px !important;
}

.vs-padding-right-small {
	padding-right: 20px !important;
}

.vs-padding-right-medium {
	padding-right: 30px !important;
}

.vs-padding-right-large {
	padding-right: 40px !important;
}

.vs-padding-right-xlarge {
	padding-right: 60px !important;
}

.vs-padding-bottom-xsmall {
	padding-bottom: 10px !important;
}

.vs-padding-bottom-small {
	padding-bottom: 20px !important;
}

.vs-padding-bottom-medium {
	padding-bottom: 30px !important;
}

.vs-padding-bottom-large {
	padding-bottom: 40px !important;
}

.vs-padding-bottom-large {
	padding-bottom: 60px !important;
}

.vs-padding-left-zero {
	padding-left: 0px !important;
}

.vs-padding-left-xsmall {
	padding-left: 10px !important;
}

.vs-padding-left-small {
	padding-left: 20px !important;
}

.vs-padding-left-medium {
	padding-left: 30px !important;
}

.vs-padding-left-large {
	padding-left: 40px !important;
}

.vs-padding-left-xlarge {
	padding-left: 60px !important;
}

/* Main Banner */
.main-banner {
  width: 100%;
}

/*Main Logo*/
.main-logo {
  max-width: 260px;
  margin: 0px !important;
}
/*DASBOARD STYLES*/
.vs-dashboard-logo {
    max-width: 90px;
}

.menu button {
    color: #7d7d7d !important;
}

.main-logo-mobile {
    max-width: 150px;
}

/* Background color*/
.vs-background-color-vs {
    background-color: #FFD15C;
}

.vs-background-color-white {
    background-color: white !important;
}

.vs-background-color-default {
    background-color: #3e3e3e !important;
}

.vs-background-color-light {
  background-color: #f5f5f5 !important;
}
/*Color*/
.vs-color-vs {
    color: #FFD15C;
}

.vs-color-grey {
  color: #a2a2a2 !important
}

.vs-color-status {
    color: #FF7058 !important;
}

.vs-color-default {
   color: #3e3e3e !important;
}

.vs-color-white {
    color: white !important;
}

.vs-full-width {
    width: 100% !important;
}
/*Responsive Hide*/
.hide-on-mobile {
	display: none !important;
}

.hide-on-desktop {
	display: block !important;
}


/*FONT WEIGHT*/
.vs-text-mediumbold {
	font-weight: 400 !important;
}

.vs-text-semibold {
	font-weight: 600 !important;
}

.vs-text-extrabold {
	 font-weight: 800 !important;
}

/*CURSOR*/
.vs-cursor-pointer{
    cursor: pointer !important;
}

/****CUSTOM ELEMENTS****/
/*Container*/
.vs-container {
	padding-left: 20px;
	padding-right: 20px;
}

/*CONTENT HOMEPAGE*/
.vs-content-img {
    background-image: url("./assets/img/camion.png");
    background-size: cover;
    height: 450px;
}

/*Section*/
.vs-section,
.vs-section-wide,
.vs-section-widest {
	border-radius: 17px;
	padding: 25px 20px;
}

/*Card Request*/

.card-request img {
  max-width: 150px;
}

.vs-services-banner {
   padding-top: 50px;
   padding-bottom: 50px;
}

.vs-services-banner img {
   max-width: 70px !important;
}

.vs-services-banner .card {
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    background-color: #Fff;
    border-radius: 4px;
    padding: 20px 15px 20px 25px;
}

.vs-services-banner .card:hover {
    transform: scale(1.05) !important;
    cursor: pointer !important;
    box-shadow: 0 2px 0 rgb(255, 209, 92);
}

/*BOTONES*/
.vs-btn-simple {
    box-shadow: none !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

/**/

.footer img {
    max-width: 180px;
}

/* iPhones(landscape) ----------- */
@media only screen and (min-width: 375px) {

    .main-banner img{
        max-width: 250px;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {

    .vs-section {
	   padding: 50px 80px;
    }

    .login-signup {
        width: 60%;
    }

    .main-banner img{
       max-width: 300px;
    }

    .vs-section-title {
        font-size: 20px;
    }

    .vs-text-align-left-md {
        text-align: left !important;
    }

    /* Main Banner */
    .main-banner {
      width: 100%;
      height: 580px;
    }

    .vs-font-main-title {
        font-size: 40px !important;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
     }

	.vs-section-wide {
		padding: 50px;
    }

    .vs-container {
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		width: 700px;
    }

    .vs-about-us {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .vs-services-banner .card {
        margin-right: 10px;
    }


}

/* Tablets small laptops ----------- */
@media (min-width: 960px) {
    /****CUSTOM ELEMENTS****/
	.vs-container {
	  width: 800px;
    }

    .main-banner img{
      max-width: 550px;
      margin-top: 120px;
    }

    .vs-margin-left-xlarge-md {
       margin-left: 60px !important;
    }

    .vs-font-main-title {
        font-size: 50px !important;
        font-weight: 800;
        margin-top: 60px;
     }

    /*Responsive Hide*/
	.hide-on-mobile {
		display: block !important;
    }

	.hide-on-desktop {
		display: none !important;
	}
}

/* Laptops ----------- */
@media only screen and (min-width: 1200px) {

    /***** HOME *****/
	.vs-container {
		width: 1150px;
	}
}

