
<div class="vs-container">
  <div class="row">
    <div class="col col-md-6">
      <h2 class="vs-font-main-title vs-text-align-left-md vs-color-vs">
        TRABAJA CON NOSOTROS Y OBTEN MAS INGRESOS
      </h2>
      <p [ngStyle]="{'font-weight': 500}" class="vs-text-align-left-md vs-color-black">
        Registrate y nos pondremos en contacto con usted muy pronto!
      </p>
      <a href="https://venticuatrosiete.typeform.com/to/wkpqpt">
      <button mat-raised-button class="vs-text-uppercase vs-margin-bottom-large vs-margin-top-large vs-text-align-left-md" color="accent">
         REGISTRARME
      </button>
      </a>
    </div>

    <div class="col col-md-6 vs-text-align-center">
      <img class="coins" src="../../../../assets/img/coins.png" alt="">
    </div>
  </div>
</div>
