
<div class="row vs-margin-remove section ">
  <div class="banner">
    <div class="col col-md-6 col-sm-5 vs-text-align-left-md vs-text-align-center fuera">
      <h2 class="typing-element vs-display-inline vs-font-main-title vs-text-align-left-md vs-color-black">
      </h2>
      <div>
        <a href="https://venticuatrosiete.typeform.com/to/wkpqpt">
        <button color="accent" mat-raised-button class="vs-text-uppercase vs-btn-simple vs-margin-bottom-small vs-margin-top-large vs-text-align-left-md">
          REGISTRARME
        </button>
        </a>
      </div>
      <p class="vs-font-xsmall vs-color-grey">
        Nos pondremos en contacto contigo muy pronto.
      </p>
    </div>

    <div class="col col-md-6 vs-text-align-center imagen">
      <img class="coins" src="../../../../assets/img/trabaja-camiones.png" alt="">
    </div>
  </div>
</div>
