
  <div class="row vs-margin-remove">
    <div class="vs-container section">
    <div class="col col-md-6">
      <h2 class="vs-font-main-title vs-text-align-left-md vs-color-black">
        Si cuentas con un vehículo de carga,
      </h2>
      <h2 [ngStyle]="{'font-weight': 200}" class="vs-text-align-left-md title vs-color-black">
        Inscríbelo y trabaja con nosotros.
      </h2>
      <a href="https://venticuatrosiete.typeform.com/to/wkpqpt">
      <button mat-raised-button class="vs-text-uppercase vs-margin-bottom-large vs-margin-top-large vs-text-align-left-md" color="accent">
        REGISTRARME
      </button>
      </a>
    </div>

    <div class="col col-md-6 vs-text-align-center">
      <img class="coins" src="../../../../assets/img/trabaja-camiones.png" alt="">
    </div>
  </div>
  </div>
