<div class="vs-background-color-light">
    <div class="row vs-margin-remove vs-display-flex">
      <div class="col col-xs-10 col-md-5 col-lg-5 vs-margin-center vs-margin-top-small">
        <div class="vs-section vs-input-field col-md-12 vs-background-color-white" *ngIf="isUserToken && !isPasswordReset">
          <h1 class="vs-section-title vs-color-black">
            Elige una nueva contraseña
          </h1>
          <p class="vs-color-grey">
            Elige una nueva contraseña, asegurate que sea facil de recordar.
          </p>

          <form autocomplete="off" [formGroup]="password" class="vs-margin-top-small">
            <input formControlName="contraseña" matInput placeholder="Contraseña" type="password"  class="vs-margin-bottom-xsmall">
            <span *ngIf="submitted && password.get('contraseña').errors?.required" class="invalid-feedback">
              Este campo es requerido.
            </span>
            <span *ngIf="submitted && password.get('contraseña').errors?.minlength" class="invalid-feedback">
              Mínimo limite de caracteres 6
            </span>
            <input formControlName="verificarContraseña" type="password" matInput placeholder="Verificar contraseña" class="vs-margin-bottom-xsmall">
            <span *ngIf="submitted && password.get('verificarContraseña').errors?.required" class="invalid-feedback">
              Este campo es requerido.
            </span>
            <span *ngIf="submitted && password.get('verificarContraseña').errors?.mustMatch" class="invalid-feedback">
              Las contraseñas deben coincidir.
            </span>
          </form>

          <button *ngIf="!isLoading; else spinner" class="vs-margin-top-xsmall vs-color-black vs-full-width vs-margin-top-small" (click)="resetPassword()" mat-flat-button color="primary">
            CONTINUAR
          </button>

          <ng-template #spinner>
            <mat-spinner class="vs-margin-center"></mat-spinner>
          </ng-template>

          <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
            {{serverErrorMessages}}
          </div>

        <div *ngIf="serverErrorMessages" class="alert alert-danger vs-margin-top-small" role="alert">
          {{serverErrorMessages}}
        </div>
      </div>
      <div class="vs-section vs-input-field col-md-12 vs-background-color-white" *ngIf="!isUserToken">
          <h1 class="vs-section-title vs-color-black">
            Upps :(
          </h1>
          <p class="vs-color-grey">
            El link para resetear la contraseña es invalido o ha expirado.
          </p>
          <a [routerLink]="['/forgot-password']" class="vs-color-vs vs-cursor-pointer vs-margin-top-small">
            Intentar de nuevo
          </a>
      </div>
      <div class="vs-section vs-input-field col-md-12 vs-background-color-white" *ngIf="isPasswordReset">
          <h1 class="vs-section-title vs-color-vs vs-text-align-center vs-color-green">
            Tu contraseña ha sido actualizada
          </h1>
          <p class="vs-color-grey vs-text-align-center">
            Ya puedes acceder a tu cuenta
          </p>
          <div class="vs-full-width vs-text-align-center">
            <a [routerLink]="['/acceder']" class="vs-color-vs vs-cursor-pointer vs-text-align-center vs-margin-top-small">
              Acceder a mi cuenta
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
